{% extends "base.html" %} {% load bootstrap_tags %} {% block content %}

<!-- This form will be used by client-side user to:
     1. Input New Issues 
     2. Edit existing issues    -->


<form method="POST" enctype="multipart/form-data" class="form-style">

    {% csrf_token %} {% if issue.id != null %}
    <div class="row no-gutters">
        <div class="col-12 iss-id-style ">
            <span><em><strong>#: </strong>{{ issue.id}}</em></span>
        </div>
    </div>
    {% endif%}


    <!-- NOTE: We are in 'New Issue' or in 'Edit Issue' mode. -->

    <!-- Fields with default values -->

    <!-- For new issues the default client code, is the user's client code.
         If we're editing an existing issue, the user is a client-side user, and
         the issue client code and the user client code are the same, otherwise they
          couldnt edit it -->

    <input name="client_code" type="hidden" id="client_code" value="{{ userdetails.vend_client_code }}">

    <!-- Set the following field to the default value, or to the issue value, depending on whether 
         inputting a new issue, or editing an existing one -->

    {% if issue.user_id == null %}

    <input name="user_id" type="hidden" id="user_id" value="{{ userdetails.user_id }}">
    <input name="assigned_vendor_user" type="hidden" id="assigned_vendor_user" value="admin"> {% else %}

    <input name="user_id" type="hidden" id="user_id" value="{{ issue.user_id }}">
    <input name="assigned_vendor_user" type="hidden" id="assigned_vendor_user" value="{{ issue.assigned_vendor_user }}"> {% endif %}




    <!-- Top of form: Software Component, Priority, and Status -->

    <!-- Component -->

    <div class="row no-gutters">
        <div class="col-12 col-md-5 pt-1">
            <div class="row no-gutters">
                <div class="col-12 form-font">
                    <label for="sw_comp"><strong>Component: </strong></label>
                    <select name="software_component" id="sw_comp" class="iss-select" size="1">
                        {% if issue.software_component == "ACCOUNTS RECEIVABLE" %}
                        <option value="ACCOUNTS RECEIVABLE" selected>ACCOUNTS RECEIVABLE</option>
                        {% else %}
                        <option value="ACCOUNTS RECEIVABLE">ACCOUNTS RECEIVABLE</option>
                        {% endif %}
                            
                        {% if issue.software_component == "ACCOUNTS PAYABLE" %}
                        <option value="ACCOUNTS PAYABLE" selected>ACCOUNTS PAYABLE</option>
                        {% else %}
                        <option value="ACCOUNTS PAYABLE">ACCOUNTS PAYABLE</option>
                        {% endif %}
                                
                        {% if issue.software_component == "CUSTOMERS" %}
                        <option value="CUSTOMERS" selected>CUSTOMERS</option>
                        {% else %}
                        <option value="CUSTOMERS">CUSTOMERS</option>
                        {% endif %}
                                
                        {% if issue.software_component == "PURCHASING" %}
                        <option value="PURCHASING" selected>PURCHASING</option>
                        {% else %}
                        <option value="PURCHASING">PURCHASING</option>
                        {% endif %}
                                
                        {% if issue.software_component == "SALES" %}
                        <option value="SALES" selected>SALES</option>
                        {% else %}
                        <option value="SALES">SALES</option>
                        {% endif %}
                                
                        {% if issue.software_component == "VENDORS" %}
                        <option value="VENDORS" selected>VENDORS</option>
                        {% else %}
                        <option value="VENDORS">VENDORS</option>
                        {% endif %}
                                
                        {% if issue.software_component == "OTHER" %}
                        <option value="OTHER" selected>OTHER</option>
                        {% else %}
                        <option value="OTHER">OTHER</option>
                        {% endif %}
                    </select>
                </div>
            </div>
        </div>

        <!-- Status -->
        <!-- NOTE: issuelogging.html is for client-side users only, when inputting
                   new issues or editing existing ones.
                   A client-side user can only be in Edit mode if the issue is
                   at a status of DRAFT or LOGGED. 
                   They can only set the issue to a status of DRAFT (this
                   is the only option available on new issues), or a status of 
                   LOGGED. The vendor sets the rest of the issue status' -->

        <div class="col-12 col-md-3 form-font pt-1 pb-1">
            <label class="form-font" for="status"><strong>Status: </strong></label>
            <select name="status" id="status" class="iss-select" size="1">
                {% if issue.status == "DRAFT" %}
                <option value="DRAFT" selected>DRAFT</option>
                {% else %}
                <option value="DRAFT">DRAFT</option>
                {% endif %}
                
                {% if issue.status == "LOGGED" %}
                <option value="LOGGED" selected>LOGGED</option>
                {% else %}
                
                <!-- If client user is inputting a new issue, they can only have
                     a status of 'DRAFT'. So if this is not a new issue, disable
                     LOGGED -->
                     
                {% if issue.status != null %}
                <option value="LOGGED">LOGGED</option>
                {% else %}
                <option value="LOGGED" disabled>LOGGED</option>
                {% endif %} {% endif %}
                        
                <!-- All other status values are disabled for client-side users-->
                <option value="OPEN" disabled>OPEN</option>
                <option value="ANALYSIS"disabled>ANALYSIS</option>
                <option value="FIXING" disabled>FIXING</option>
                <option value="TESTING" disabled>TESTING</option>
                <option value="DEPLOYED" disabled>DEPLOYED</option>
                <option value="CLOSED" disabled>CLOSED</option>
            </select>
        </div>


        <!--  Priority -->

        <div class="col-12 col-md-4 form-font pt-1 position">

            <label class="form-font" for="priority"><strong>Priority: </strong></label>
            <select name="priority" id="priority" class="iss-select" size="1">
                        
                {% if issue.priority == 1 %}
                    <option value="1" selected>1 - URGENT</option>
                {% else %}
                    <option value="1">1 - URGENT</option>
                {% endif %}
                            
                {% if issue.priority == 2 %}
                    <option value="2" selected>2 - HIGH PRIORITY</option>
                {% else %}
                    <option value="2">2 - HIGH PRIORITY</option>
                {% endif %}
                        
                {% if issue.priority == 3 %}
                    <option value="3" selected>3 - MEDIUM PRIORITY</option>
                {% else %}
                    <option value="3">3 - MEDIUM PRIORITY</option>
                {% endif %}
                            
                {% if issue.priority == 4 %}
                    <option value="4" selected>4 - LOW PRIORITY</option>
                {% else %}
                    <option value="4">4 - LOW PRIORITY</option>
                {% endif %}
                            
                {% if issue.priority == 5 %}
                    <option value="5" selected>5 - COSMETIC</option>
                {% else %}
                    <option value="5">5 - COSMETIC</option>
                {% endif %}
                
            </select>
        </div>
    </div>

    <!--  Assigned Client User -->

    <div class="row no-gutters pt-1">

        <div class="row no-gutters pt-1">

            <!-- The user is a client-side user (otherwise they wouldnt be inputting
                  or editing an issue. If inputting a new Issue, select the users 
                  user id as the assigned user, otherwise select the issue assigned user -->

            <label class="form-font pr-1" for="assigned_client_user"><strong>Assigned to: </strong></label>
            <select name="assigned_client_user" id="assigned_client_user" class="iss-select" size="1">
                    
                    {% if issue.assigned_client_user == null %}
                        {% for assigneduser in assigned_users %}
                            {% if assigneduser.user_id == userdetails.user_id %}
                               <option value="{{ assigneduser.user_id }}" selected>{{ assigneduser.user_id }} - {{assigneduser.user_first_name }} {{ assigneduser.user_second_name  }}</option>
                            {% else %}
                                <option value="{{ assigneduser.user_id }}" >{{ assigneduser.user_id }} - {{assigneduser.user_first_name }} {{ assigneduser.user_second_name  }}</option>
                            {% endif %}
                        {% endfor %}
                        
                    {% else %}
                        {% for assigneduser in assigned_users %}
                            {% if assigneduser.user_id == issue.assigned_client_user %}
                               <option value="{{ assigneduser.user_id }}" selected>{{ assigneduser.user_id }} - {{assigneduser.user_first_name }} {{ assigneduser.user_second_name  }}</option>
                            {% else %}
                                <option value="{{ assigneduser.user_id }}" >{{ assigneduser.user_id }} - {{assigneduser.user_first_name }} {{ assigneduser.user_second_name  }}</option>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </select>
        </div>
    </div>


    <hr>

    <!-- Title -->

    <div class="row no-gutters mt-3">
        <div class="col-12 offset-md-2 offset-xl-3 col-md-8 col-xl-6 form-font">
            <label for="title"><strong><em>Title:</em></strong></label>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-12 offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <textarea name="title" id="title" class="form-control form-font" rows="1" maxlength="50">{{ issue.title }}</textarea>
        </div>
    </div>


    <!-- Issue Image -->

    <!-- Adding and clearing image adapted from blog project -->

    <div class="row no-gutters mt-3">
        <div class="col-12 offset-md-2 offset-xl-3 col-md-8 col-xl-6 form-font">

            {% if issue.image %}

            <label for="iss-ftr-image"><strong><em>Current Image:</em></strong></label>
            <div>
                <a Class="iss-image-link image-link pr-1 " target="blank" href="/media/{{issue.image}}">{{issue.image}}</a>
                <input type="checkbox" name="image-clear" id="image-clear_id">
                <label for="image-clear_id"><strong>Clear</strong></label>
            </div>
            <div>
                <label for="iss-image"><strong>Change: </strong></label>
                <input type="file" name="image" id="iss-image" value="url('{{ MEDIA_URL }}{{ issue.image }}')">
            </div>

            {% else %}

            <div>
                <label for="iss-image"><strong><em>Image:</em></strong></label>
            </div>
            <div>
                <input type="file" name="image" id="iss-image" value="url('{{ MEDIA_URL }}{{ issue.image }}')">
            </div>

            {% endif %}
        </div>
    </div>



    <!-- Summary -->

    <div class="row no-gutters mt-3">
        <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <label for=" summary "><strong><em>Summary: </em></strong></label>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <textarea name="summary " id="summary " class="form-control form-font" rows="2 " maxlength="100">{{ issue.summary }}</textarea>
        </div>
    </div>



    <!-- Details  -->

    <div class="row no-gutters mt-2">
        <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <label for="details "><strong><em>Details: </em></strong></label>
        </div>
    </div>

    <div class="row no-gutters mb-4">
        <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <textarea name="details " id="details " class="form-control form-font" rows="10 " maxlength="700">{{ issue.details }}</textarea>
        </div>
    </div>

    <!-- Submit Button -->
    <hr>
    <div class="row no-gutters mt-2 ">
        <div class="col-12 offset-md-2 offset-xl-3 col-md-8 col-xl-6 text-center">
            <button class="btn iss-btn-color iss-enabled-link" type="submit ">Submit</button>
        </div>
    </div>

</form>

{% endblock %}
