{% extends "base.html" %} {% block content %}

<!-- ISSUES REPORT   
     - This report will show the rolled up total for the Client and allow the user
     to see the list behind the totals
     - The issues list will show issue id, author, component, summary, priority,
     and status 
     - If the user is on the client-side, they will see the rolled up total for the
     client they are associated with only. They will only see the issue author's 
     client code, if the client they are associated with is the author, otherwise
     they will see "******"
     - If the user is on the vendor-side, they will see rolled up totals for all
     clients and they will see the author's client code in the list
     -->

{% for client in clienttotals %}
<div class="row no-gutters iss-rep-client-total rep-shadow">

    <div class="col-12 col-md-6 rep-client-code ">
        <span class="pr-2">{{ client.client_code }}:</span>
        <span>{{ client.client_name }}</span>
    </div>

    <div class="col-12 col-md-6 report-align">
        <div class="row no-gutters">
            <div class="col-9 offset-md-2 col-md-7 offset-lg-4 col-lg-6 p-0">
                <span class="pr-2">Issues Input and / or Flagged: </span>
            </div>
            <div class="col-3 col-md-3 col-lg-2 p-0 text-right">
                <span class="pr-2">{{ client.nr_flagged_issues }}</span>

                <!-- The user can click on chevron-down/up to open / close the report
                     JS will listen for the class 'show-issues-report' to detect when the chevron has been clicked.
                     It will take the client number from the classes (first class) and use it to create the id = '#issues-report-client_code',
                     and 'report-open-close-client_code'
                     Note that "fa-chevron-down" is used by js in determing whether the report needs to be opened
                     or closed. It expects it to be the 2nd class of the <i> element. So if adding classes, add them
                     at the end. -->

                <span><a class="{{ client.client_code }} show-issues-report btn td-form-font iss-enabled-link iss-chevron-style" href="#"><i  id="report-open-close-{{ client.client_code }}" class="fas fa-chevron-down "></i></a></span>
            </div>
        </div>
    </div>
</div>

<!-- Show the individual issues for the client, but keep them hidden (d-none) -->

<div id="issues-report-{{ client.client_code }}" class="row no-gutters d-none">

    <div class="table-responsive report">

        <table class="table table-striped table-style">
            <thead class="table-hd">
                <tr class="report-th">
                    <th scope="col" class="text-center td-date">#</th>
                    <th scope="col" class="text-center td-username">Author</th>
                    <th scope="col" class="text-center td-sw-comp">Component</th>
                    <th scope="col" class="text-center td-summary">Summary / Details </th>
                    <th class="text-center">Details</th>
                    <th scope="col" class="text-center iss-rep-td-priority">Priority</th>
                    <th scope="col" class="text-center td-status">Status</th>
                </tr>
            </thead>

            <!-- Show Issue id, author, component, summary, priority, status -->

            <tbody>

                {% for issue in issues %} {% if issue.client_code == client.client_code %}

                <tr>
                    <td class="td-id">{{ issue.id }}</td>

                    {% if userdetails.user_type == "C" %} {% if userdetails.vend_client_code == issue.author %}
                    <td class="text-center td-username">{{ issue.author }}</td>
                    {% else %}
                    <td class="text-center td-username">******</td>
                    {% endif %} {% else %}

                    <!-- User is on the vendor side - show the Client who raised the issue -->
                    <td class="text-center td-username">{{ issue.author }}</td>

                    {% endif %}


                    <td class="td-sw-comp">{{ issue.software_component }}</td>
                    <td class="td-summary">{{ issue.summary }}</td>

                    <!-- 'show-issue-details' class is used by js to detect when a user clicks on the chevron-down/up. The issue id identifies which 
                         Feature has been clicked on. The class 'det-chevron-down-client_code' is changed to 'det-chevron-up-client_code' when 
                         'fa-chevron-down' is flipped to 'up'. 'det-chevron-up-*' helps find the details that are open, so that they can be closed  
                         when the full report is closed
                                 -->

                    <td><a class="{{client.client_code}} {{issue.id}} show-issue-details btn td-form-font iss-det-chevron-style" href="#"><i  id="details-open-close-{{client.client_code}}-{{issue.id}}" class="fas fa-chevron-down det-chevron-down-{{client.client_code}}"></i></a></td>
                    
                    <!-- Show the priority with its description -->
                    
                    {% if issue.priority == 1 %}
                    <td class="iss-rep-td-priority text-center">1 - URGENT</td>
                    {%else%}
                    {% if issue.priority == 2 %}
                    <td class="iss-rep-td-priority text-center">2 - HIGH PRIORITY</td>
                    {%else%}
                    {% if issue.priority == 3 %}
                    <td class="iss-rep-td-priority text-center">3 - MEDIUM PRIORITY</td>
                    {%else%}
                    {% if issue.priority == 4 %}
                    <td class="iss-rep-td-priority text-center">4 - LOW PRIORITY</td>
                    {%else%}
                    
                    <!-- Priority must be = 5 -->
                    <td class="iss-rep-td-priority text-center">5 - COSMETIC</td>
                    {% endif %}
                    {% endif %}{% endif %}{% endif %}
                    <td class="td-status">{{ issue.status }}</td>
                </tr>

                <!-- The Issue Details are initially hidden (d-none). The user will use the 'chevron-down' to display the details, and 'chevron-up'
                             to hide them
                     Only the Issue details will be shown on this line, but I'm including the other table columns
                     with blanks so as to keep the table structure as is
                     -->

                <tr id="issue-details-{{client.client_code}}-{{issue.id}}" class="issue-details-{{ client.client_code }} d-none">

                    <td class="td-id"></td>
                    <td class="td-username"></td>
                    <td class="td-sw-comp "><strong>Issue Details: </strong></td>
                    <td class="">{{ issue.details }}</td>
                    <td></td>
                    <td class="iss-rep-td-priority"></td>
                    <td class="td-status"></td>

                </tr>

                {% endif %} {% endfor %}
                
            </tbody>
            
        </table>
        <hr class="iss-hr-style">

    </div>
</div>

{% endfor%} {% endblock %}
