{% extends "base.html" %} {% block content %}

<!-- If the user is a vendor-side user, show the name of the client the issue 
     belongs to -->

<div class="row no-gutters">
    <div class="col-12 text-center">
        {% if userdetails.user_type == "V" %}
        <p><strong>Client:</strong>
            <span><strong>{{issueclientdetails.client_name}}</strong></span>
        </p>
        {% endif %}
    </div>
</div>


<!-- Software Component  -->

<div class="form-style">

    <!-- Software Component -->

    <div class="row no-gutters pt-1">
        <div class="col-12 col-md-5">
            <div class="row no-gutters">
                <div class="col-12 form-font">
                    <span><strong>Component: </strong>{{ issue.software_component}}</span>
                </div>
            </div>
        </div>

        <!-- Status -->

        <div class="col-12 col-md-3 form-font pt-1">
            <span><strong>Status: </strong>{{ issue.status }}</span>
        </div>

        <!--  Priority -->

        <div class="col-12 col-md-4 form-font pt-1 position">
            <span><strong>Priority: </strong></span> {% if issue.priority == 1 %}
            <span>1 - URGENT</span> {% else %} {% if issue.priority == 2 %}
            <span>2 - HIGH PRIORITY</span> {% else %} {% if issue.priority == 3 %}
            <span>3 - MEDIUM PRIORITY</span> {% else %} {% if issue.priority == 4 %}
            <span>4 - LOW PRIORITY</span> {% else %} {% if issue.priority == 5 %}
            <span>5 - COSMETIC</span> {% endif %} {% endif %} {% endif %} {% endif %} {% endif %}
        </div>
    </div>

    <!-- Assigned User  -->

    {% if userdetails.user_type == "V" %}

    <!-- If the user is a vendor-side user, show who the issue is
                     assigned to on the vendor side -->

    <div class="row no-gutters pt-1">
        <div class="col-12 offset-md-9 col-md-3 offset-xl-10 col-xl-2 form-font asng-user-txt-align">
            <span><strong>Assigned to: </strong></span>
            <span class="pl-1">{{ issue.assigned_vendor_user}}</span>
        </div>
    </div>

    {% else %}

    <!-- Client-side user: Show the user the issue is assigned to on the 
         client side -->

    <div class="row no-gutters pt-1">
        <div class="col-12 offset-md-9 col-md-3 offset-xl-10 col-xl-2 form-font asng-user-txt-align">
            <span><strong>Assigned to: </strong></span>
            <span class="pl-1">{{ issue.assigned_client_user}}</span>
        </div>
    </div>

    {% endif %} 


    <hr>

    <!-- Issue Title -->

    <div class="row no-gutters mt-3">
        <div class="col-12 offset-md-2 offset-xl-3 col-md-8 col-xl-6 form-font">
            <p class="m-0"><strong><em>TITLE:</em></strong></p>
        </div>
    </div>


    <div class="row no-gutters">
        <div class="col-12 offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <p class="m-0">{{ issue.title }}</p>
        </div>
    </div>



    <!-- Summary -->

    <div class="row no-gutters mt-3">
        <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <p class="m-0"><strong><em>SUMMARY:</em></strong></p>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <p class="m-0">{{ issue.summary }}</p>
        </div>
    </div>


    <!-- Details  -->

    <div class="row no-gutters mt-3">
        <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <p class="m-0"><strong><em>DETAILS:</em></strong></p>
        </div>
    </div>

    <div class="row no-gutters ">
        <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <p class="m-0">{{ issue.details }}
                <p>
        </div>
    </div>



    <!-- Edit Button 
          If the issue is assigned to the logged in user, on the client side or
          on the vendor side, enable the Edit button, otherwise disable it. -->
          
    <hr>
    <div class="row no-gutters mt-2">
        <div class="col-12 offset-md-2 offset-xl-3 col-md-8 col-xl-6 text-center">

            {% if userdetails.user_type == "C" %}
                {% if userdetails.user_id == issue.assigned_client_user %}

                <!-- User is a client-side user.
                         Is the issue assigned, to the logged in user, 
                         and is the status = DRAFT or LOGGED? 
                         If so, enable the Edit button, otherwise disable it -->

                    {% if issue.status == "DRAFT" or issue.status == "LOGGED" %}
        
                    <a href="{% url 'edit_issue' issue.id %}" class="btn btn-color ">Edit</a> 
                    {% else %}
                    <span class="btn btn-color-disabled disabled" type="submit ">Edit</span> 
                    {% endif %} 
                {% endif %}
            
            {% else %}

                <!-- User is a vendor-side user.
                        Is the issue assigned to the logged in user? 
                        If so, allow the user to update the issue status -->
    
                {% if userdetails.user_id == issue.assigned_vendor_user %}
    
                <a href="{% url 'update_issue_status' issue.id %}" class="btn btn-color ">Update Status</a>
    
                {% endif %}
            {% endif %}
            
        </div>
    </div>
</div>

{% endblock %}
