{% extends "base.html" %} {% block content %}

<!-- If the user is a vendor-side user, show the name of the client the issue 
     belongs to -->

<div class="row no-gutters">
    <div class="col-12">
        {% if userdetails.user_type == "V" %}
        <p><strong>Client:</strong>
            <span>{{issueclientdetails.client_name}}</span>
        </p>
        {% endif %}
    </div>
</div>


<!-- Software Component  -->

<div class="form-style">

    <!-- Software Component -->

    <div class="row no-gutters">
        <div class="col-12 col-md-6">
            <div class="row no-gutters">
                <div class="col-12 form-font">
                    <p><strong>Component: </strong>
                        <span>{{ issue.software_component}}</span>
                    </p>
                </div>
            </div>
        </div>

        <!--  Priority -->

        <div class="col-12 col-md-6">
            <div class="row no-gutters">
                <div class="col-6 form-font">
                    <p><strong>Priority: </strong>
                        <span>{{ issue.priority }}</span>
                    </p>
                </div>

                <!-- Status -->

                <div class="col-6 form-font text-right">
                    <p><strong>Status: </strong>
                        <span>{{ issue.status }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!-- Issue Title -->

    <div class="row no-gutters mt-3">
        <div class="col-12 offset-md-3 col-md-8 col-xl-6 form-font">
            <p class="m-0"><strong><em>Title:</em></strong></p>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-12 offset-md-3 col-md-8 col-xl-6 form-font">
            <p class="m-0">{{ issue.title }}</p>
        </div>
    </div>



    <!-- Summary -->

    <div class="row no-gutters mt-3">
        <div class="col-12 form-font offset-md-3 col-md-8 col-xl-6">
            <p class="m-0"><strong><em>Summary:</em></strong></p>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-12 form-font offset-md-3 col-md-8 col-xl-6">
            <p class="m-0">{{ issue.summary }}</p>
        </div>
    </div>


    <!-- Details  -->

    <div class="row no-gutters mt-3">
        <div class="col-12 form-font offset-md-3 col-md-8 col-xl-6">
            <p class="m-0"><strong><em>Title:</em></strong></p>
        </div>
    </div>

    <div class="row no-gutters ">
        <div class="col-12 form-font offset-md-3 col-md-8 col-xl-6">
            <p class="m-0">{{ issue.details }}
                <p>
        </div>
    </div>



    <!-- Assigned User  -->

    {% if userdetails.user_type == "V" %}

    <div class="row no-gutters mt-3">
        <div class="col-12 form-font offset-md-3 col-md-8 col-xl-6">
            <p class="m-0"><strong><em>Assigned to: </em></strong></p>
        </div>
    </div>

    <!-- If the user is a vendor-side user, show who the issue is
                     assigned to on the vendor side -->

    <div class="row no-gutters mt-2">
        <div class="col-12 form-font offset-md-3 col-md-8 col-xl-6">
            <p class="m-0">{{ issue.assigned_vendor_user}}</p>
        </div>
    </div>

    {% else %}

    <!-- Client-side user: If this issue belongs to the client the
                     user is associated with, show the assigned user, otherwise
                     dont show it a all. -->

    {% if userdetails.vend_client_code == issue.client_code %}

    <div class="row no-gutters mt-3">
        <div class="col-12 form-font offset-md-3 col-md-8 col-xl-6">
            <p class="m-0"><strong><em>Assigned to: </em></strong></p>
        </div>
    </div>


    <div class="row no-gutters mt-2">
        <div class="col-12 form-font offset-md-3 col-md-8 col-xl-6">
            <p class="m-0">{{ issue.assigned_client_user}}</p>
        </div>
    </div>

    {% endif %} {% endif %}

    <!-- Edit Button -->

    <div class="row no-gutters ">
        <div class="offset-3 col-9 col-md-8 col-xl-6 text-center">
            {% if userdetails.vend_client_code == issue.client_code %}

            <a href="{% url 'edit_issue' issue.id %}" class="btn btn-color ">Edit</a> {% else %}
            <span class="btn btn-color-disabled disabled" type="submit ">Edit</span> {% endif %}
        </div>
    </div>
</div>


{% endblock %}
