{% extends "base.html" %} {% load bootstrap_tags %} {% block content %}

<!-- This form will be used for the Input of New Issues and for Editing 
     an existing issue -->


<form method="POST" enctype="multipart/form-data" class="form-style">

    {% csrf_token %}



    <!-- NOTE: We are in 'New Issue' or in 'Edit Issue' mode. -->

    <!-- Fields with default values -->

    <!-- For new issues the default client code, is the user's client code.
         If we're editing an existing issue, the user is a client-side user, and
         the issue client code and the user client code are the same, otherwise they
          couldnt edit -->

    <input name="client_code" type="hidden" id="client_code" value="{{ userdetails.vend_client_code }}">

    <!-- Set the following field to the default value, or to the issue value, depending on whether 
         inputting a new issue, or editing an existing one -->

    {% if issue.user_id == null %}
    <input name="user_id" type="hidden" id="user_id" value="{{ userdetails.user_id }}"> {% else %}
    <input name="user_id" type="hidden" id="user_id" value="{{ issue.user_id }}"> {% endif %}

    <!-- If in 'New Issue' mode, the default for this field is the input user. If in 'Edit' mode 
         the assigned user is = logged in user, otherwise they couldnt edit  -->

    <input name="assigned_client_user" type="hidden" id="assigned_client_user" value="{{ userdetails.user_id }}">

    <!-- Set the following field to the default value, or to the issue value, depending on whether 
         inputting a new issue, or editing an existing one -->

    {% if issue.assigned_vendor_user == null %}
    <input name="assigned_vendor_user" type="hidden" id="assigned_vendor_user" value="admin"> {% else %}
    <input name="assigned_vendor_user" type="hidden" id="assigned_vendor_user" value="{{ issue.assigned_vendor_user }}"> {% endif %}

    <!-- Top of form: Software Component, Priority, and Status -->

    <div class="row no-gutters">
        <div class="col-12 col-md-6 pt-1">
            <div class="row no-gutters">
                <div class="col-12 form-font">
                    <label for="sw_comp"><strong>Component: </strong></label>
                    <select class="form-font" name="software_component" id="sw_comp" class="form-control" size="1">
                        {% if issue.software_component == "ACCOUNTS RECEIVABLE" %}
                        <option value="ACCOUNTS RECEIVABLE" selected>ACCOUNTS RECEIVABLE</option>
                        {% else %}
                        <option value="ACCOUNTS RECEIVABLE">ACCOUNTS RECEIVABLE</option>
                        {% endif %}
                            
                        {% if issue.software_component == "ACCOUNTS PAYABLE" %}
                        <option value="ACCOUNTS PAYABLE" selected>ACCOUNTS PAYABLE</option>
                        {% else %}
                        <option value="ACCOUNTS PAYABLE">ACCOUNTS PAYABLE</option>
                        {% endif %}
                                
                        {% if issue.software_component == "CUSTOMERS" %}
                        <option value="CUSTOMERS" selected>CUSTOMERS</option>
                        {% else %}
                        <option value="CUSTOMERS">CUSTOMERS</option>
                        {% endif %}
                                
                        {% if issue.software_component == "PURCHASING" %}
                        <option value="PURCHASING" selected>PURCHASING</option>
                        {% else %}
                        <option value="PURCHASING">PURCHASING</option>
                        {% endif %}
                                
                        {% if issue.software_component == "SALES" %}
                        <option value="SALES" selected>SALES</option>
                        {% else %}
                        <option value="SALES">SALES</option>
                        {% endif %}
                                
                        {% if issue.software_component == "VENDORS" %}
                        <option value="VENDORS" selected>VENDORS</option>
                        {% else %}
                        <option value="VENDORS">VENDORS</option>
                        {% endif %}
                                
                        {% if issue.software_component == "OTHER" %}
                        <option value="OTHER" selected>OTHER</option>
                        {% else %}
                        <option value="OTHER">OTHER</option>
                        {% endif %}
                    </select>
                </div>
            </div>
        </div>

        <!-- Status -->

        <div class="col-12 col-md-2 form-font pt-1 pb-1">
            <span><strong>Status: </strong></span>
            <span>DRAFT</span>
        </div>

        <!--  Priority -->

        <div class="col-12 col-md-4 form-font pt-1 position">

            <label for="priority"><strong>Priority: </strong></label>
            <select class="form-font" name="priority" id="priority" class="form-control" size="1">
                        
                {% if issue.priority == 1 %}
                    <option value="1" selected>1 - URGENT</option>
                {% else %}
                    <option value="1">1 - URGENT</option>
                {% endif %}
                            
                {% if issue.priority == 2 %}
                    <option value="2" selected>2 - HIGH PRIORITY</option>
                {% else %}
                    <option value="2">2 - HIGH PRIORITY</option>
                {% endif %}
                        
                {% if issue.priority == 3 %}
                    <option value="3" selected>3 - MEDIUM PRIORITY</option>
                {% else %}
                    <option value="3">3 - MEDIUM PRIORITY</option>
                {% endif %}
                            
                {% if issue.priority == 4 %}
                    <option value="4" selected>4 - LOW PRIORITY</option>
                {% else %}
                    <option value="4">4 - LOW PRIORITY</option>
                {% endif %}
                            
                {% if issue.priority == 5 %}
                    <option value="5" selected>5 - COSMETIC</option>
                {% else %}
                    <option value="5">5 - COSMETIC</option>
                {% endif %}
                
            </select>
        </div>
    </div>


    <hr>

    <!-- Issue Title -->

    <div class="row no-gutters mt-3">
        <div class="col-12 offset-md-2 offset-xl-3 col-md-8 col-xl-6 form-font">
            <label for="title"><strong><em>Title:</em></strong></label>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-12 offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <textarea name="title" id="title" class="form-control form-font" rows="1" maxlength="50">{{ issue.title }}</textarea>
        </div>
    </div>


    <!-- Summary -->

    <div class="row no-gutters mt-2">
        <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <label for=" summary "><strong><em>Summary: </em></strong></label>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <textarea name="summary " id="summary " class="form-control form-font" rows="2 " maxlength="100">{{ issue.summary }}</textarea>
        </div>
    </div>



    <!-- Details  -->

    <div class="row no-gutters mt-2">
        <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <label for="details "><strong><em>Details: </em></strong></label>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <textarea name="details " id="details " class="form-control form-font" rows="10 " maxlength="700">{{ issue.details }}</textarea>
        </div>
    </div>



    <!-- Submit Button -->

    <div class="row no-gutters mt-2 ">
        <div class="col-12 offset-md-2 offset-xl-3 col-md-8 col-xl-6 text-center">
            <button class="btn btn-color " type="submit ">Submit</button>
        </div>
    </div>

</form>




{% endblock %}
