{% extends "base.html" %} {% block content %}

<!-- This form will be used:
     1. To display the details of an issue 
     2. Allow the user to view & enter comments on the issue    -->

<!-- If the user is a vendor-side user, show the name of the client the issue 
     belongs to -->


<div id="issues-report" class="row no-gutters d-none">

    <div class="table-responsive iss-report">

        <table class="table table-striped table-style">
            <thead class="table-hd">
                <tr class="iss-report-th">
                    <th scope="col" class="text-center td-date">#</th>
                    <th scope="col" class="text-center td-username">Author</th>
                    <th scope="col" class="text-center td-sw-comp">Component</th>
                    <th scope="col" class="text-center td-summary">Summary</th>
                    <th scope="col" class="text-center td-priority">Priority</th>
                    <th scope="col" class="text-center td-status">Status</th>
                </tr>
            </thead>

            <!-- Show the date, author (user) and comments -->

            <tbody>

                {% for issue in issues %}
                <tr>
                    <td class="td-id">{{ issue.id }}</td>

                    {% if userdetails.vend_client_code == issue.client_code %}
                    <td class="td-username">{{ issue.client_code }}</td>
                    {% else %}
                    <td class="td-username">******</td>
                    {% endif %}

                    <td class="td-sw-comp">{{ issue.software_component }}</td>
                    <td class="td-summary">{{ issue.summary }}</td>
                    <td class="td-priority">{{ issue.priority }}</td>
                    <td class="td-status">{{ issue.status }}</td>
                </tr>
                {% endfor %}


            </tbody>
        </table>
    </div>
</div>


<!-- Print the total for the client -->
<hr>
<div class="row no-gutters iss-report-total">

    <div class="col-12 offset-md-3 col-md-2">
        <span>{{ clienttotal.client_code }}</span>
    </div>

    <div class="col-12 col-md-3">
        <span> {{ clienttotal.client_name }}</span>
    </div>

    <div class="col-12 col-md-3">
        <span>Number of Issues: {{ clienttotal.nr_flagged_issues }}</span>
    </div>

    <div class="col-md-1">
        <span><a id="show-issues-report" class="btn td-form-font iss-enabled-link iss-chevron-down-style" href="#"><i  class="fas fa-chevron-down "></i></a></span>
    </div>

</div>






{% endblock %}
