{% extends "base.html" %} {% load bootstrap_tags %} {% block content %}

<!-- This form will be used for the Input of New Issues and for Editing 
     an existing issue -->


<form method="POST" enctype="multipart/form-data" class="form-style">

    {% csrf_token %}

    <!-- Fields with default values -->

    <input name="client_code" type="hidden" id="client_code" value="{{ userdetails.vend_client_code }}">
    <input name="user_id" type="hidden" id="user_id" value="{{ userdetails.user_id }}">
    <input name="assigned_client_user" type="hidden" id="assigned_client_user" value="{{ userdetails.user_id }}">
    <input name="assigned_vendor_user" type="hidden" id="assigned_vendor_user" value="admin">


    <!-- Top of form: Software Component, Priority, and Status -->

    <div class="row no-gutters">
        <div class="col-12 col-md-6">
            <div class="row no-gutters">
                <div class="col-12 form-font-label">
                    <label for="sw_comp"><strong>Component: </strong></label>
                    <select class="form-font-field" name="software_component" id="sw_comp" class="form-control" size="1">
                        {% if issue.software_component == "ACCOUNTS RECEIVABLE" %}
                        <option value="ACCOUNTS RECEIVABLE" selected>ACCOUNTS RECEIVABLE</option>
                        {% else %}
                        <option value="ACCOUNTS RECEIVABLE">ACCOUNTS RECEIVABLE</option>
                        {% endif %}
                            
                        {% if issue.software_component == "ACCOUNTS PAYABLE" %}
                        <option value="ACCOUNTS PAYABLE" selected>ACCOUNTS PAYABLE</option>
                        {% else %}
                        <option value="ACCOUNTS PAYABLE">ACCOUNTS PAYABLE</option>
                        {% endif %}
                                
                        {% if issue.software_component == "CUSTOMERS" %}
                        <option value="CUSTOMERS" selected>CUSTOMERS</option>
                        {% else %}
                        <option value="CUSTOMERS">CUSTOMERS</option>
                        {% endif %}
                                
                        {% if issue.software_component == "PURCHASING" %}
                        <option value="PURCHASING" selected>PURCHASING</option>
                        {% else %}
                        <option value="PURCHASING">PURCHASING</option>
                        {% endif %}
                                
                        {% if issue.software_component == "SALES" %}
                        <option value="SALES" selected>SALES</option>
                        {% else %}
                        <option value="SALES">SALES</option>
                        {% endif %}
                                
                        {% if issue.software_component == "VENDORS" %}
                        <option value="VENDORS" selected>VENDORS</option>
                        {% else %}
                        <option value="VENDORS">VENDORS</option>
                        {% endif %}
                                
                        {% if issue.software_component == "OTHER" %}
                        <option value="OTHER" selected>OTHER</option>
                        {% else %}
                        <option value="OTHER">OTHER</option>
                        {% endif %}
                    </select>
                </div>
            </div>
        </div>


        <!--  Priority -->

        <div class="col-12 col-md-6">
            <div class="row no-gutters">
                <div class="col-6 form-font-label">
                    <span><strong>Priority: </strong></span>
                    <span>9</span>
                </div>

                <!-- Status -->

                <div class="col-6 form-font-label text-right">
                    <span><strong>Status: </strong></span>
                    <span>DRAFT</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Issue Title -->

    <div class="row no-gutters mt-4 pb-2">
        <div class="col-12">
            <div class="row no-gutters">
                <div class="col-3 form-font-label pr-2 text-right">
                    <label for="title"><strong>Title: </strong></label>
                </div>
                <div class="col-9 col-md-8 col-xl-6">
                    <textarea name="title" id="title" class="form-control form-font-field" rows="1" maxlength="50">{{ issue.title }}</textarea>
                </div>
            </div>
        </div>
    </div>

    <!-- Summary -->

    <div class="row no-gutters pb-2">
        <div class="col-12">
            <div class="row no-gutters">
                <div class="col-3 form-font-label pr-2 text-right">
                    <label for=" summary "><strong>Summary: </strong></label>
                </div>
                <div class="col-9 col-md-8 col-xl-6">
                    <textarea name="summary " id="summary " class="form-control form-font-field" rows="2 " maxlength="100">{{ issue.summary }}</textarea>
                </div>
            </div>
        </div>
    </div>

    <!-- Details  -->

    <div class="row no-gutters pb-2">
        <div class="col-12">
            <div class="row no-gutters">
                <div class="col-3 form-font-label pr-2 text-right">
                    <label for="details "><strong>Details: </strong></label>
                </div>
                <div class="col-9 col-md-8 col-xl-6">
                    <textarea name="details " id="details " class="form-control form-font-field" rows="10 " maxlength="700">{{ issue.details }}</textarea>
                </div>
            </div>
        </div>
    </div>


    <!-- Submit Button -->

    <div class="row no-gutters ">
        <div class="offset-3 col-9 col-md-8 col-xl-6 text-center">
            <button class="btn btn-color " type="submit ">Submit</button>
        </div>
    </div>

</form>




{% endblock %}
