{% extends "base.html" %} {% block content %}

<!-- issuestatus.html is for vendor-side users only, to allow them to change the
     issue status only.
     Show the name of the client the issue belongs to -->

<div class="row no-gutters">
    <div class="col-12 text-center">

        <p><strong>Client:</strong>
            <span><strong>{{issueclientdetails.client_name}}</strong></span>
        </p>

    </div>
</div>

<form method="POST" enctype="multipart/form-data" class="form-style">

    {% csrf_token %}


    <!-- Show Software Component -->

    <div class="row no-gutters">
        <div class="col-12 col-md-5">
            <div class="row no-gutters">
                <div class="col-12 form-font">
                    <span><strong>Component: </strong>{{ issue.software_component}}</span>
                </div>
            </div>
        </div>

        <!-- Show Status -->
        <!-- NOTE: issuestatus.html is for vendor-side users only.
                   They are allowed only allowed to change the status of an
                   issue. -->

        <div class="col-12 col-md-3 form-font pt-1 pb-1">
            <label class="form-font" for="status"><strong>Status: </strong></label>
            <select class="form-font" name="status" id="status" class="form-control" size="1">
                {% if issue.status == "DRAFT" %}
                <option value="DRAFT" selected>DRAFT</option>
                {% else %}
                <option value="DRAFT">DRAFT</option>
                {% endif %}
                
                {% if issue.status == "LOGGED" %}
                <option value="LOGGED" selected>LOGGED</option>
                {% else %}
                <option value="LOGGED">LOGGED</option>
                {% endif %}
                        
                {% if issue.status == "OPEN" %}
                <option value="OPEN" selected>OPEN</option>
                {% else %}
                <option value="OPEN">OPEN</option>
                {% endif %}
                
                {% if issue.status == "ANALYSIS" %}
                <option value="ANALYSIS" selected>ANALYSIS</option>
                {% else %}
                <option value="ANALYSIS">ANALYSIS</option>
                {% endif %}
                
                {% if issue.status == "FIXING" %}
                <option value="FIXING" selected>FIXING</option>
                {% else %}
                <option value="FIXING">FIXING</option>
                {% endif %}
                
                {% if issue.status == "TESTING" %}
                <option value="TESTING" selected>TESTING</option>
                {% else %}
                <option value="TESTING">TESTING</option>
                {% endif %}
                
                {% if issue.status == "DEPLOYED" %}
                <option value="DEPLOYED" selected>DEPLOYED</option>
                {% else %}
                <option value="DEPLOYED">DEPLOYED</option>
                {% endif %}
                
                {% if issue.status == "CLOSED" %}
                <option value="CLOSED" selected>CLOSED</option>
                {% else %}
                <option value="CLOSED">CLOSED</option>
                {% endif %}
                
            </select>
        </div>


        <!--  Show Priority -->

        <div class="col-12 col-md-4 form-font pt-1 position">
            <span><strong>Priority: </strong></span> {% if issue.priority == 1 %}
            <span>1 - URGENT</span> {% else %} {% if issue.priority == 2 %}
            <span>2 - HIGH PRIORITY</span> {% else %} {% if issue.priority == 3 %}
            <span>3 - MEDIUM PRIORITY</span> {% else %} {% if issue.priority == 4 %}
            <span>4 - LOW PRIORITY</span> {% else %} {% if issue.priority == 5 %}
            <span>5 - COSMETIC</span> {% endif %} {% endif %} {% endif %} {% endif %} {% endif %}
        </div>
    </div>
    <hr>

    <!-- Show Issue Title -->

    <div class="row no-gutters mt-3">
        <div class="col-12 offset-md-2 offset-xl-3 col-md-8 col-xl-6 form-font">
            <p class="m-0"><strong><em>Title:</em></strong></p>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-12 offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <p class="m-0">{{ issue.title }}</p>
        </div>
    </div>


    <!-- Show Summary -->

    <div class="row no-gutters mt-3">
        <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <p class="m-0"><strong><em>Summary:</em></strong></p>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <p class="m-0">{{ issue.summary }}</p>
        </div>
    </div>


    <!-- Show Details  -->

    <div class="row no-gutters mt-3">
        <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <p class="m-0"><strong><em>Title:</em></strong></p>
        </div>
    </div>

    <div class="row no-gutters ">
        <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <p class="m-0">{{ issue.details }}
                <p>
        </div>
    </div>

    <!-- Show Assigned User   -->

    <div class="row no-gutters mt-3 mb-4">
        <div class="col-12 offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <div class="row no-gutters">
                <div class="col-4 col-sm-3 col-md-2 form-font">
                    <p class="m-0"><strong><em>Assigned to: </em></strong></p>
                </div>

                <!-- As the user is a vendor-side user, show who the issue is
                     assigned to on the vendor side -->

                <div class="col-4 form-font">
                    <p class="m-0">{{ issue.assigned_vendor_user}}</p>
                </div>
            </div>
        </div>
    </div>


    <!-- Edit Button 
          If the issue is assigned to the logged in user, on the client side or
          on the vendor side, enable the Edit button, otherwise disable it. -->
    <hr>
    <div class="row no-gutters mt-2">
        <div class="col-12 offset-md-2 offset-xl-3 col-md-8 col-xl-6 text-center">

            <!-- User is a vendor-side user. -->

            <div class="row no-gutters mt-2 ">
                <div class="col-12 offset-md-2 offset-xl-3 col-md-8 col-xl-6 text-center">
                    <button class="btn btn-color " type="submit ">Submit</button>
                </div>
            </div>
        </div>
    </div>

</form>

{% endblock %}
