/*  IMPORT FONTS - copied from google fonts         */

@import url('https://fonts.googleapis.com/css?family=Courgette:100,400,700|Crimson:100,400,700|Nunito:100,400,700');



/* css used generally in most .html files-------------------------------------*/

/* The following css was copied from materializecss.com to create a sticky 
   footer */

body {
    display: flex;

    flex-direction: column;
    font-family: "Nunito", sans-serif!important;
}

/* Set height of Section so that the footer sticks to the bottom on Mobile 
   devices or on pages where the screen is not otherwise filled. 
   225 = height of the top line before the nav bar (19) + height of the navbar (56) 
   + height of the pagination section just above the footer (70) + height of 
   footer (80)  */

section {

    padding: 0 10px;

    min-height: calc(100vh - 225px);

}

/* Set height of Section so that the footer sticks to the bottom on larger 
   devices or on pages where the screen is not otherwise filled. 
   242 = height of the top line (19) + height of the navbar (73) 
   + height of pagination section (70) + height of the footer (80)  */

@media(min-width:768px) {
    section {
        min-height: calc(100vh - 242px);

    }
}


main {
    flex: 1 0 auto;

}

li {
    list-style-type: none;
}


/* Color and hovering for all buttons  */

.btn-color {
    color: #e6e6ff!important;
    background-color: #6666ff!important;
    border-color: #6666ff!important;
}

.btn-color:hover {
    color: #6666ff!important;
    background-color: #e6e6ff!important;
    border-color: #e6e6ff!important;

}

.btn-color-disabled {
    color: #e6e6ff!important;
    background-color: #6666ff!important;
    border-color: #6666ff!important;
}


/* css for Login & Registration Form ------------------------------------------*/

/* Set font size for the registration comments for various device sizes */

.reg-mesg-style {
    font-size: 14px;
}

@media(min-width:768px) {
    .reg-style {
        font-size: 16px;
    }
}


/* Set width an styling of form for login and registration   */

.login-reg-form {
    padding-left: 10px;
    font-size: 14px;
}

@media(min-width:768px) {
    .login-reg-form {
        font-size: 16px;
    }

}


/* css for base.html ---------------------------------------------------------*/

.vend-client-user {
    height: 19px;
    background-color: #f3f2f2;

}


.navbar-style {
    background-color: #fafaff;
    color: #3b3b3b;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    ;
}

.nav-blank {
    color: #fafaff;
}

/* Padding to left of home icon on navbar  */

.navbar-padding {
    padding-left: 15px;

}

.nav-issues-align {
    padding-left: 0px!important;
}


@media(min-width:1024px) {
    .nav-issues-align {
        padding-left: 10px!important
    }

}

@media(min-width:1025px) {
    .nav-issues-align {
        padding-left: 100px!important
    }
}




.disabled {
    color: fafaff!important;
}

/* Override bootstrap styling for nav links */

.nav-link {
    color: #3b3b3b!important;
    font-size: 15px;
    padding: 15px!important;

}


@media(min-width:1025px) {
    .nav-link {
        color: #3b3b3b!important;
        font-size: 18px;
        padding: 15px!important;
    }
}

.nav-link:hover {
    background-color: #6666ff;
    color: #fafaff!important;
}


/* Styling for Issues list and New Isses buttons in navbar */

.iss-btn-color {
    background-color: #6666ff!important;
    color: fafaff!important;
    width: 120px;

}

.iss-button-font {
    font-size: 14px!important;
}

/* Styling for Features list and New Features nav links in navbar */

.iss-ftr-ml {
    margin-left: 0px;
}

@media(min-width:1024px) {
    .iss-ftr-ml {
        margin-left: 5px;
    }
}

.iss-nav-link {
    font-size: 15px;
    padding: 15px!important;
    margin-bottom: 2px;
}

@media(min-width:1025px) {
    .iss-nav-link {
        font-size: 18px;
    }
}

.iss-nav-link:hover {
    color: #6666ff!important;
    background-color: #e6e6ff!important;
    border-color: #e6e6ff!important;

}



/* Styling for Features list and New Features buttons in navbar */

.ftr-btn-color {
    background-color: #8a8ae6!important;
    color: fafaff!important;
    width: 100px;

}

.ftr-button-font {
    font-size: 14px!important;
}

/* Create a space between the Issues buttons and the Features buttons in the 
   navbar */

.iss-ftr-gap {
    margin-left: 0px
}

@media(min-width:1024px) {
    .iss-ftr-gap {
        margin-left: 10px
    }
}



@media(min-width:1025px) {
    .iss-ftr-gap {
        margin-left: 100px!important
    }
}


/* Styling for Features list and New Features nav links in navbar */

.ftr-nav-link {
    font-size: 15px;
    padding: 15px!important;
    margin-bottom: 2px;

}

@media(min-width:1025px) {
    .ftr-nav-link {
        font-size: 18px;
        padding: 15px!important;
        margin-left: 10px;
    }
}

.ftr-nav-link:hover {
    color: #6666ff!important;
    background-color: #e6e6ff!important;
    border-color: #e6e6ff!important;

}


.cart-container {
    color: #3b3b3b!important;
    margin-left: 0px;
    font-size: 14px;
    padding-top: 15px;

}

@media(min-width:1024px) {
    .cart-container {
        margin-left: 5px;
    }
}

@media(min-width:1025px) {
    .cart-container {
        font-size: 18px;
        margin-left: 60px;
        padding: 13px;


    }
}


/* Styling for cart button / icon */

.cart-nav-link {
    font-size: 13px!important;
    padding: 15px;
    margin-bottom: 2px;
    color: #8a8ae6!important;
    width: 120px;

}

@media(min-width:1025px) {
    .cart-nav-link {
        margin-left: 10px;
    }
}

.cart-nav-link:hover {
    background-color: #8a8ae6!important;
    color: #fff!important;
    border-color: #fff!important;
    border-radius: 5px;

}

.cart-count-style {
    background-color: #8a8ae6!important;
    color: #fff!important;
    
}

/* Logo sizing and styling  */

.nav-logo {
    height: 39px;
    width: 180px;
}

.nav-c-v-name {
    font-size: 13px;
    font-style: italic;
    font-weight: bolder;
    padding-left: 5px;

}

.nav-c-v-user {
    font-size: 13px;
    font-weight: normal;
    font-style: italic;

}

.logo {
    background: url("../images/kmcd_issue_tracking_system.png");
    height: 100%;
    width: 100%;
    border: solid 1px #fafaff;
    border-style: outset;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

/* Transform logo when hovered over 
   (taken from https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_transform) */

.logo:hover {
    -ms-transform: scaleY(1.5);
    /* IE 9 */
    -webkit-transform: scaleY(1.5);
    /* Safari 3-8 */
    transform: scaleY(1.5);
}

.home-icon {
    padding-top: 2px!important;
}


/* Main part of screen background color   */

.pg-bg {
    background-color: #f3f2f2;

}

/* Style all links, other than nav links, so that they behave the same */

.links {
    text-decoration: none;
    padding: 10px;
    color: #3b3b3b;
}

.links:hover {
    background-color: #6666ff;
    color: #fafaff!important;
    text-decoration: none;
}


.mesg-style {
    margin: 0px;
    font-size: 13px;
    background-color: #b3b3ff;
    color: #fafaff;
}

@media(min-width:768px) {
    .mesg-style {
        font-size: 16px;
    }

}


/* Leave a blank line when there are no messages, so that the text below the 
   message line will always appear at the same position, whether there's a 
   message or not */

.blank-line {
    color: #f3f2f2;
    background-color: #f3f2f2;
}

/* base.html / js pagination  */

/* Give the pagination section a height of 70px, so that if 
   pagination is not required, the footer will still stick to the 
   bottom of the page. Section height is set above. */

.pag-nav-section {
    background-color: #f3f2f2;
    height: 70px;
}


/* Pagination page links are highlighted in different colors depending on whether
   its the issues list or the features list. The colors match the colors in 
   the navbar for the issues and features buttons and gives the user a hint
   as to whether they're looking at the issues or features list */

.page-link {
    color: #3b3b3b!important;
}

.iss-page-live-link {
    color: #3b3b3b!important;
}

/* Activate hover functionality on page numbers with live links only       */

.iss-page-live-link:hover {
    background-color: #6666ff!important;
    color: #fff!important;
}

.ftr-page-live-link {
    color: #3b3b3b!important;
}

/* Activate hover functionality on page numbers with live links only       */

.ftr-page-live-link:hover {
    background-color: #8a8ae6!important;
    color: #fff!important;
}




.ftr-selected {
    background-color: #8a8ae6!important;
    color: #fff!important;

}

.iss-selected {
    background-color: #6666ff!important;
    color: #fff!important;

}




footer {

    background-color: #3b3b3b;
    color: #b3b3b3;
    height: 80px;
    margin-bottom: 0px;
    padding: 30px 30px 10px 30px;
    text-align: center;
}



/* css for home.html ---------------------------------------------------------*/

.mrtop {
    margin-top: 50px;
}

.courgette-font {
    font-family: "Courgette", sans-serif;

}

.welcome-mesg {
    font-size: 32px;

}

.company-name-style {
    font-size: 16px;
    color: #6666ff;
}

@media(min-width:768px) {
    .welcome-mesg {
        font-size: 40px;

    }

    .company-name-style {
        font-size: 32px;
        color: #6666ff;
    }
}



/* css for registration.html -------------------------------------------------*/

/* Stlye the 'sign in' text  */

.link-text-style {
    text-decoration: none;
    color: #3b3b3b;
}

.link-text-style:hover {
    color: #6666ff!important;
    text-decoration: none;
}


/* css for registration.html -------------------------------------------------*/

.prof-bg {
    background-color: #e6e6ff;
}

/* css for profile.html ------------------------------------------------------*/

.prof-hd {
    font-size: 14px;
    text-decoration: underline;
}

@media(min-width:768px) {
    .prof-hd {
        font-size: 18px;
        text-decoration: underline;
    }
}


/* css for userhome.html------------------------------------------------------*/

/* Style for issues filter icon. This matches the color of the issues buttons
   in the navbar and gives a hint to the user as to whether they're looking at
   t issues or features list */

.iss-icon-color {
    color: #6666ff!important;
    background-color: #f3f2f2!important;


}

.filter-dd {
    background-color: #f3f2f2!important;
    color: #3b3b3b!important;
    font-size: 12px!important;

}

.filter-dd:hover {
    color: #fafaff!important;
    background-color: #6666ff!important;

}

/* Set filter font-sizes for larger devices----------------------------------*/

@media(min-width:768px) {
    .filter-dd {
        font-size: 12px!important;
    }

}

.filter-name {
    font-size: 12px!important;

}

@media(min-width:1025px) {
    .filter-name {
        font-size: 15px!important;
    }

}

.dropdown-item {
    color: #8c8c8c!important;
}

.dropdown a:hover {
    color: #fafaff!important;
    background-color: #6666ff;

}

/* Center the status in its col for a better look on larger screens.
   No centering on smaller screens as the cols will be one line across the 
   screen (col-12s) */

@media(min-width:768px) {
    .status-align {
        padding-left: 40px!important;
    }
}

/* css for table in userhome.html & featureshome.html------------------------*/

.table-style {
    font-size: 12px;
    font-family: "Nunito", sans-serif;
    width: 100%;
}

/* The following 'td-* styles are to fix the width of the table cells so that
    they display smoothly and the table headings stay in the same position 
    when new data is displayed */

.td-username {
    width: 115px;
}

.td-date {
    width: 85px;
}

.td-sw-comp {
    width: 179px;
}


.td-priority {
    width: 71px;

}

.td-summary {
    width: 650px;

}

.td-status {
    width: 75px;

}

.td-more {
    width: 56px;

}

.td-paid {
    width: 71px;

}

.td-price {
    width: 71px;

}

.td-qty {
    width:120px;
}

.td-add {
    width: 60px;
}

.td-add-btn-style {
    background-color: #8a8ae6!important;
    color: fafaff!important;

}


.td-form-font {
    font-size:12px!important;
}

.more-icon-th {
    color: #3b3b3b;
}

.more-icon-style {
    color: #3b3b3b;
    padding-left: 10px;
    padding-right: 10px;
}

.more-icon-style:hover {
    color: #fafaff;
    background-color: #6666ff;
}


/* css for issuelogging.html-------------------------------------------------*/

.form-style {
    border: solid 1px #d9d9d9;
    border-radius: 15px;
    background-color: #fff;
    padding: 15px;
}

.form-font {
    font-size: 13px;
}


@media(min-width:1024px) {
    .form-style {
        padding: 20px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .form-font {
        font-size: 15px;
    }

}


@media(min-width:768px) {
    .position {
        text-align: right;
    }
}


select {
    background-color: #f3f2f2!important;
    color: #3b3b3b!important;
    font-size: 12px!important;
}

select:hover {
    background-color: #fff!important;
    color: #6666ff!important;

}

/* css for issuedetails.html ------------------------------------------------*/

/* Set text align for assigned user, depending on device size   */

.asng-user-txt-align {
    text-align: left;
}

@media(min-width:768px) {
    .asng-user-txt-align {
        text-align: right;
    }

}



.ftr-btn-color {
    background-color: #8a8ae6!important;
    color: fafaff!important;
    width: 120px;

}

.ftr-button-font {
    font-size: 14px!important;
}

.ftr-icon-color {
    color: #8a8ae6!important;
    background-color: #f3f2f2!important;


}




/* css used in featurehome.html -----------------------------------------*/

/* Features Filter icon style. This matches the color of the features buttons
   in the navbar and gives a hint to the user as to whether they're looking at
   t issues or features list */

.ftr-icon-color {
    color: #8a8ae6!important;
    background-color: #f3f2f2!important;


}
