/*  IMPORT FONTS - copied from google fonts         */

@import url('https://fonts.googleapis.com/css?family=Courgette:100,400,700|Crimson:100,400,700|Nunito:100,400,700');



/* css used generally in most .html files-------------------------------------*/

body {

    font-family: "Nunito", sans-serif!important;
}



/* Pre login - size of section differs */

/* Small Mobile devices -
    Set height of Section so that the footer sticks to the bottom on larger 
   devices or on pages where the screen is not otherwise filled. 
    369 = height of the top line (19) + height of the navbar (80) 
    + height of the footer (270)     */

.section-pre-login {
    padding: 0 10px;
    min-height: calc(100vh - 369px);
}

/* Pre login - size of section differs */

/* Devices from width 768px up - 
    Set height of Section so that the footer sticks to the bottom on larger 
   devices or on pages where the screen is not otherwise filled. 
   209 = height of the top line (19) + height of the navbar (80) 
   + height of the footer (110)     */

@media(min-width:768px) {
    .section-pre-login {
        min-height: calc(100vh - 209px);

    }
}

/* Pre-login an image will be shown in the <section part of the screen  */

.section-bg-image {
    background: url("../images/galwaybay.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

/* Post login - size of section differs */

/* Small Mobile devices -
    Set height of Section so that the footer sticks to the bottom on larger 
   devices or on pages where the screen is not otherwise filled. 
   407 = height of the top line (19) + height of the navbar (80) 
   + height of pagination section (38) + height of the footer (270)     */

.section-post-login {
    padding: 0 10px;
    min-height: calc(100vh - 407px);
}

/* Post login - size of section differs */

/* Devices from width 768px up - 
    Set height of Section so that the footer sticks to the bottom on larger 
   devices or on pages where the screen is not otherwise filled. 
   247 = height of the top line (19) + height of the navbar (80) 
   + height of pagination section (38) + height of the footer (110)     */

@media(min-width:768px) {
    .section-post-login {
        min-height: calc(100vh - 249px);

    }
}

/* Post login the <section> part of the screen will have a bg color   */

.section-bg-color {
    background-color: #f3f2f2;
}



main {
    flex: 1 0 auto;

    /* Added after running Autoprefixer   */
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;

}

li {
    list-style-type: none;
}


/* This is added to anchors to disable them when necessary */

.disabled-link {
    pointer-events: none;
    opacity: .4;

}

.dropdown-item {
    color: #8c8c8c!important;
}




/* css for Login & Registration Form ------------------------------------------*/

/* Set font size for the registration comments for various device sizes */

.reg-mesg-style {
    font-size: 14px;
    color: #ffffff;
}

@media(min-width:768px) {
    .reg-style {
        font-size: 16px;
    }
}

.login-reg-btn-color {
    background-color: #C080FF!important;
    color: fafaff!important;
    width: 120px;

}

.login-reg-btn-color:hover {
    color: #C080FF!important;
    background-color: fff!important;
    width: 120px;

}


/* Set width an styling of form for login, registration, profile */

.login-reg-form {
    padding-left: 10px;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}

.form-pt {
    padding-top: 20px;
}

@media(min-width:768px) {
    .form-pt {
        padding-top: 100px;
    }
}



/* Override the color of the help block under username on smaller devices so that 
   it can be seen more clearly against the sun in the photo */

.help-block {
    color: #3b3b3b;
}

@media(min-width:768px) {
    .login-reg-form {
        font-size: 16px;
    }

}

.reset-form {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;

}

@media(min-width:768px) {
    .reset-form {
        font-size: 18px;
        
    }
}


/* Make error message returned by bootstrap registration form red to make the
   easier to see */

.error-msg {
    color: red;
}


/* Stlye the 'sign in' text  */

.link-text-style {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.link-text-style:hover {
    color: #6666ff!important;
    text-decoration: none;
}

.forgot-psw {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
}

.forgot-psw:hover {
    color: #c080ff!important;
    text-decoration: none;
}

@media(min-width:768px) {
    .forgot-psw {
        font-size: 20px;
    }
}


.prof-bg {
    background-color: #f2e6ff;
}


.prof-hd {
    font-size: 14px;
    text-decoration: underline;
}

@media(min-width:768px) {
    .prof-hd {
        font-size: 18px;
        text-decoration: underline;
    }
}


/* css for base.html ---------------------------------------------------------*/

.nav-c-v-name {
    font-size: 13px;
    font-style: italic;
    font-weight: bolder;
    padding-left: 5px;

}

.nav-c-v-user {
    font-size: 13px;
    font-weight: normal;
    font-style: italic;

}

/* Logo sizing and styling  */

.logo {
    background: url("../images/kmcd_logo.png");
    min-height: 64px;
    min-width: 170px;
    border: solid 1px #fafaff;

    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}


/* Transform logo when hovered over 
   (taken from https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_transform) */

.logo:hover {
    -ms-transform: scaleY(1.2);
    /* IE 9 */
    -webkit-transform: scaleY(1.2);
    /* Safari 3-8 */
    transform: scaleY(1.2);
}

.home-icon {
    padding-top: 2px!important;
}


.mesg-style {
    margin: 0px;
    font-size: 13px;
    background-color: #C080FF;
    color: #fafaff;
}

@media(min-width:768px) {
    .mesg-style {
        font-size: 16px;
    }

}


/* Leave a blank line when there are no messages, so that the text below the 
   message line will always appear at the same position, whether there's a 
   message or not */

.blank-line {
    color: #f3f2f2;
    background-color: #f3f2f2;
}


.vend-client-user {
    height: 19px;
    background-color: #f3f2f2;

}


.navbar-style {
    background-color: #fafaff;
    color: #3b3b3b;
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    ;
}

.nav-blank {
    color: #fafaff;
    font-size: 14px;
}

/* Padding to left of home icon on navbar  */

.navbar-padding {
    padding-left: 0px;
    font-size: 15px;

}


@media(min-width:1025px) {
    .navbar-padding {
        padding-left: 15px;
    }
}

.nav-issues-align {
    padding-left: 0px!important;
}


@media(min-width:1024px) {
    .nav-issues-align {
        padding-left: 10px!important
    }

}

@media(min-width:1025px) {
    .nav-issues-align {
        padding-left: 100px!important
    }
}


/* Override bootstrap styling for nav links */

.nav-link {
    color: #3b3b3b!important;
    font-size: 14px;
    padding: 14px!important;

}


@media(min-width:1025px) {
    .nav-link {
        color: #3b3b3b!important;
        font-size: 18px;
        padding: 15px!important;
    }
}

.nav-link:hover {
    background-color: #C080FF;
    color: #fff!important;
    border-radius: 5px;
}

/* css for home.html ---------------------------------------------------------*/

.mrtop {
    margin-top: 50px;
}

.courgette-font {
    font-family: "Courgette", sans-serif;

}

.welcome-mesg {
    font-size: 20px;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 2px;

}

.company-name-style {
    font-size: 16px;
    color: #ffffff;
    background-color: #c080ff;
    border-radius: 10px;
    padding: 5px;

}

@media(min-width:768px) {
    .welcome-mesg {
        font-size: 40px;
        padding-top: 100px;

    }

    .company-name-style {
        font-size: 32px;

    }
}



/* Style all links, other than nav links, so that they behave the same */

.btn-login-reg {
    border-radius: 5px;
    background-color: #c080ff!important;
    font-size: 18px;
}

@media(min-width:768px) {
    .btn-login-reg {
        font-size: 28px;
    }
}

.welcome-links {
    text-decoration: none;
    padding: 15px;
    color: #ffffff;
    margin-bottom: 5px;
}

@media(min-width:768px) {
    .welcome-links {
        padding: 20px;
        margin-bottom: 0px;
    }
}

.welcome-links:hover {
    background-color: #6666ff!important;
    color: #c080ff;
    text-decoration: none;
    border-radius: 5px;
}

.loggedin-links {
    text-decoration: none;
    padding: 15px;
    color: #3b3b3b;
    margin-bottom: 5px;
}

.loggedin-links:hover {
    background-color: #c080ff!important;
    color: #6666ff;
    text-decoration: none;
    border-radius: 5px;
}

.or-style {
    color: #ffffff;
    font-size: 28px;
}


/* Styling that affects the Issues processing -------------------------------*/

.iss-btn-color {
    background-color: #6666ff!important;
    color: fafaff!important;
    width: 120px;

}

.iss-button-font {
    font-size: 14px!important;
}

.iss-back-btn {
    color: #6666ff!important;

}


/* base.html / js pagination  */

/* Give the pagination section a height of 70px, so that if 
   pagination is not required, the footer will still stick to the 
   bottom of the page. Section height is set above. */

.pag-nav-section {
    background-color: #f3f2f2;
    height: 40px;
}


/* Pagination page links are highlighted in different colors depending on whether
   its the issues list or the features list. The colors match the colors in 
   the navbar for the issues and features buttons and gives the user a hint
   as to whether they're looking at the issues or features list */

.page-link {
    color: #3b3b3b!important;
}



/* Styling for Issues -------------------------------------------------------*/

/* for issue select boxes */

.iss-select {
    background-color: #f3f2f2!important;
    color: #3b3b3b!important;
    font-size: 12px!important;
}

.iss-select:hover {
    background-color: #fff!important;
    color: #6666ff!important;

}

.iss-selected {
    background-color: #6666ff!important;
    color: #fff!important;

}

.iss-dropdown a:hover {
    color: #fafaff!important;
    background-color: #6666ff;

}



.iss-nav-link {
    font-size: 15px;
    padding: 15px!important;
    margin-bottom: 2px;
}

@media(min-width:1025px) {
    .iss-nav-link {
        font-size: 18px;
    }
}


/* Set text align for assigned user, depending on device size   */

.iss-comments-btn-color {
    background-color: #6666ff!important;
    color: fafaff!important;

}

.iss-page-live-link {
    color: #3b3b3b!important;
}

/* Activate hover functionality on page numbers with live links only       */

.iss-page-live-link:hover {
    background-color: #6666ff!important;
    color: #fff!important;
}


.iss-td-thumbs-up-style {
    background-color: #6666ff!important;
    color: fafaff!important;
}



.iss-comments-dash {

    border-radius: 5px;
    background-color: #6666ff;
    padding: 5px;

}



/* The comments and no-comments icons are not the same size, so I'm giving them
   different font sizes to make them look the same width on screen */

.icon-height {
    height: 24px;
}

.iss-comments-icon {
    color: #6666ff;
    font-size: 18px;
}

.iss-no-comments-icon {
    color: #6666ff;
    font-size: 16px;
}

.iss-id-style {
    font-size: 12px;
    color: #6666ff;
}

@media(min-width:321px) {

    .iss-comments-icon {
        font-size: 20px;
    }

    .iss-no-comments-icon {
        font-size: 18px;

    }

}

@media(min-width:1024px) {

    .iss-comments-icon {
        font-size: 24px;

    }

    .iss-no-comments-icon {
        font-size: 22px;

    }
}



/* Style for issues filter icon. 
   This matches the color of the issues buttons in the navbar and gives a hint 
   to the user as to whether they're looking at the issues or features list */

.iss-filter-icon-color {
    color: #6666ff!important;
    background-color: #f3f2f2!important;


}

.iss-filter-dd {
    background-color: #f3f2f2!important;
    color: #3b3b3b!important;
    font-size: 12px!important;

}

.iss-filter-dd:hover {
    color: #fafaff!important;
    background-color: #6666ff!important;

}


.iss-edit-update-btn-color {
    background-color: #6666ff!important;
    color: fafaff!important;

}

.iss-more-icon-th {
    color: #3b3b3b;
}

.iss-more-icon-style {
    color: #3b3b3b;
}

.iss-more-icon-style:hover {
    color: #6666ff;
    font-weight: 900;
    font-size: 16px;
}

.iss-comments-icon-th {
    color: #3b3b3b;
}

.iss-comments-icon-style {
    color: #3b3b3b;
}

.iss-comments-icon-style:hover {
    color: #6666ff;
    font-weight: 900;
    font-size: 15px;
}


.iss-comments-form-style {
    border: solid 1px #d9d9d9;
    border-radius: 10px;
    background-color: #b3b3ff;
    padding: 10px;


}


@media(min-width:1024px) {
    .iss-comments-form-style {
        padding: 15px;

    }
}


/* The following are used on Issue links that are enabled to enable hovering 
   effects with the Issues color */

.iss-enabled-link {}

.iss-enabled-link:hover {
    border-radius: 5px;
    color: #6666ff!important;
    background-color: fff!important;
    text-decoration: none
}

.iss-page-live-link {
    color: #3b3b3b!important;
}

/* Activate hover functionality on page numbers with live links only       */

.iss-page-live-link:hover {
    background-color: #6666ff!important;
    color: #fff!important;
}


.iss-rep-client-total {
    border-radius: 5px;
    background-color: #6666ff;
    color: #fff;
    font-weight: 900;
    padding: 5px;
    margin: 5px;

}

@media(min-width: 768px) {
    .iss-rep-client-total {
        padding: 10px;

    }
}


.iss-report-client-name {
    width: 650px;
}

.iss-report-flagged {
    width: 100px;
}

.iss-rep-td-priority {
    width: 200px;

}

.iss-chevron-style {
    background-color: #6666ff!important;
    color: fafaff!important;
}

.iss-det-chevron-style {
    color: #6666ff!important;

}

.iss-det-chevron-style:hover {
    border-radius: 5px;
    background-color: #6666ff!important;
    color: fafaff!important;
}

.iss-hr-style {
    background-color: #6666ff!important;

}

.iss-image-link {
    text-decoration: none;
    color: #3b3b3b;
}

.iss-image-link:hover {
    color: #6666ff!important;
    text-decoration: none;
}

.thumbs-up-icon {
    font-size: 12px;
}

.iss-file {
    color: #6666ff;
}


/* Styling for Features  ------------------------------------------------*/

.ftr-filter-dd {
    background-color: #f3f2f2!important;
    color: #3b3b3b!important;
    font-size: 12px!important;

}

.ftr-filter-dd:hover {
    color: #fafaff!important;
    background-color: #80C0FF!important;

}

.ftr-id-style {
    font-size: 12px;
    color: #80C0FF;
}

.ftr-btn-color {
    background-color: #80C0FF!important;
    color: fafaff!important;
    width: 120px;

}

.ftr-dropdown a:hover {
    color: #fafaff!important;
    background-color: #80C0FF;

}


.ftr-button-font {
    font-size: 14px!important;
}

.ftr-edit-update-btn-color {
    background-color: #80C0FF!important;
    color: fafaff!important;

}

.ftr-td-cart-plus-style {
    background-color: #80C0FF!important;
    color: fafaff!important;
}


/* Create a space between the Issues buttons and the Features buttons in the 
   navbar */

.iss-ftr-gap {
    margin-left: 0px
}

@media(min-width:1024px) {
    .iss-ftr-gap {
        margin-left: 10px
    }
}



@media(min-width:1025px) {
    .iss-ftr-gap {
        margin-left: 100px!important
    }
}



.ftr-nav-link {
    font-size: 15px;
    padding: 15px!important;
    margin-bottom: 2px;

}

@media(min-width:1025px) {
    .ftr-nav-link {
        font-size: 18px;
        padding: 15px!important;

    }
}


.ftr-enabled-link {}

.ftr-enabled-link:hover {
    border-radius: 5px;
    color: #80C0FF!important;
    background-color: fff!important;
}

.ftr-page-live-link {
    color: #3b3b3b!important;
}

/* Activate hover functionality on page numbers with live links only       */

.ftr-page-live-link:hover {
    background-color: #80C0FF!important;
    color: #fff!important;
}


/* for Feature select boxes */

.ftr-select {
    background-color: #f3f2f2!important;
    color: #3b3b3b!important;
    font-size: 12px!important;
}

.ftr-select:hover {
    background-color: #fff!important;
    color: #80C0FF!important;

}

.ftr-selected {
    background-color: #80C0FF!important;
    color: #fff!important;

}

.ftr-rep-client-total {
    border-radius: 5px;
    background-color: #80C0FF;
    color: #fff;
    font-weight: 900;
    padding: 5px;
    margin: 5px;

}

@media(min-width: 768px) {
    .ftr-rep-client-total {
        padding: 10px;

    }
}

.ftr-image-link {
    text-decoration: none;
    color: #3b3b3b;
}

.ftr-image-link:hover {
    color: #80C0FF!important;
    text-decoration: none;
}


.cart-plus-icon {
    font-size: 12px;
}

.td-cart-plus {
    width: 50px;
}

.ftr-back-btn {
    color: #80C0FF!important;
}


.ftr-file {
    color: #80C0FF;
}

/* Styling for comments table  ----------------------------------------------*/

.table-height {
    min-height: 348px;
}

.td-comments {
    width: 700px;

}

/* Make table heading slightly darker than the rest of the table, to make it
   stand out */

.table-hd {
    background-color: #dad7d7;
    border-bottom: solid 3px #fafaff;
    border-top: solid 2px #fafaff;
}




.footer-style {
    background-color: #3b3b3b;
    color: #b3b3b3;
    margin-bottom: 0px;
    padding: 15px;
    min-height: 106px;

}

.footer-copyright {
    font-size: 12px;
    color: #C080FF;
    margin-bottom: 0px;

}

/* Set the min height for each of the columns in the footer so that whether 
   logged in or out its always the same height on mobile devices - there
   will be nothing in the reports column when the user is not logged in. */

.min-height {
    min-height: 80px;
}


/* Set filter font-sizes for larger devices----------------------------------*/

.filter-name {
    font-size: 12px!important;

}

@media(min-width:1025px) {
    .filter-name {
        font-size: 15px!important;
    }

}


/* Center the status in its col for a better look on larger screens.
   No centering on smaller screens as the cols will be one line across the 
   screen (col-12s) */

@media(min-width:768px) {
    .status-align {
        padding-left: 40px!important;
    }
}


/* css used Features processing ----------------------------------------------*/

/* Features Filter icon style. This matches the color of the features buttons
   in the navbar and gives a hint to the user as to whether they're looking at
   the issues or features list */

.ftr-comments-btn-color {
    background-color: #80C0FF!important;
    color: fafaff!important;

}

.ftr-filter-icon-color {
    color: #80C0FF!important;
    background-color: #f3f2f2!important;
}

.ftr-more-icon-th {
    color: #3b3b3b;
}

.ftr-more-icon-style {
    color: #3b3b3b;
}

.ftr-more-icon-style:hover {
    color: #80C0FF;
    font-weight: 900;
    font-size: 18px;
}

.ftr-comments-icon-th {
    color: #3b3b3b;
}

.ftr-comments-icon-style {
    color: #3b3b3b;
}

.ftr-comments-icon-style:hover {
    color: #80C0FF;
    font-weight: 900;
    font-size: 16px;
}




/* For feature select boxes               */

.ftr-select {
    background-color: #f3f2f2!important;
    color: #3b3b3b!important;
    font-size: 12px!important;
}

.ftr-select:hover {
    background-color: #fff!important;
    color: #80C0FF!important;

}

.ftr-comments-icon {
    color: #80C0FF;
    font-size: 18px;
}

.ftr-no-comments-icon {
    color: #80C0FF;
    font-size: 16px;
}


@media(min-width:321px) {

    .ftr-comments-icon {
        font-size: 20px;

    }

    .ftr-no-comments-icon {
        font-size: 18px;

    }

}

@media(min-width:1024px) {

    .ftr-comments-icon {
        font-size: 24px;

    }

    .ftr-no-comments-icon {
        font-size: 22px;

    }
}


.ftr-comments-dash {

    border-radius: 5px;
    background-color: #80C0FF;
    padding: 5px;

}

/* The following are used on Feature links that are enabled to enable hovering 
   effects with the Features color  */

.ftr-enabled-link {}

.ftr-enabled-link:hover {
    border-radius: 5px;
    color: #80C0FF!important;
    background-color: fff!important;
}

.ftr-comments-form-style {
    border: solid 1px #d9d9d9;
    border-radius: 10px;
    background-color: #b3d9ff;
    padding: 10px;

}


@media(min-width:1024px) {
    .ftr-comments-form-style {
        padding: 15px;

    }
}

.ftr-sort-icon {
    font-size: 18px;
}

/* Styling for both Issues and Features --------------------------------------*/

/* Create a gap between Issues and Features buttons in the navbar */

.iss-ftr-ml {
    margin-left: 0px;
}

@media(min-width:1024px) {
    .iss-ftr-ml {
        margin-left: 5px;
    }
}

.form-style {
    border: solid 1px #d9d9d9;
    border-radius: 15px;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 0px;
}

.form-font {
    font-size: 13px;
}


@media(min-width:1024px) {
    .form-style {
        padding: 20px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .form-font {
        font-size: 15px;
    }

}



@media(min-width:768px) {
    .position {
        text-align: right;
    }
}


.comments-icon-align {
    text-align: left;
}


@media(min-width:768px) {
    .comments-icon-align {
        text-align: right;
    }
}

.comments-plus-view {
    font-size: 16px;
}


@media(min-width:321px) {

    .comments-plus-view {
        font-size: 18px;

    }
}

@media(min-width:1024px) {

    .comments-plus-view {
        font-size: 20px;

    }

}

.iss-ftr-image {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    margin: 0 auto;
    background-size: cover;
    background-position: center
}




/* Styling for rolled up client total line */

.rep-client-code {
    font-size: 14px;
}

@media(min-width: 1024px) {
    .rep-client-code {
        font-size: 16px;
    }
}

.report-align {
    text-align: left;
    font-size: 13px;
}

@media(min-width: 768px) {
    .report-align {
        text-align: right;
    }
}

@media(min-width: 1024px) {
    .report-align {
        font-size: 16px;
    }
}

.ftr-chevron-style {
    background-color: #80C0FF!important;
    color: fafaff!important;
}

.ftr-det-chevron-style {
    color: #80C0FF!important;

}

.ftr-det-chevron-style:hover {
    border-radius: 5px;
    background-color: #80C0FF!important;
    color: fafaff!important;
}

.report {
    padding-right: 5px;
    padding-left: 5px;
}

@media(min-width:768px) {
    .report {
        padding-right: 50px;
        padding-left: 50px;
    }
}

.report-th {
    color: #3b3b3b;

}

.ftr-hr-style {
    background-color: #80C0FF!important;
}


/* Shadow for rolled up client totals 
   based on https://www.w3schools.com/css/tryit.asp?filename=trycss3_box-shadow6 */

.rep-shadow {
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px #0d001a;
    padding: 10px;
}


.rep-shadow::after {
    content: '';
    position: absolute;
    z-index: -1;
    /* hide shadow behind box */
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px #1a0033;
    width: 70%;
    height: 100px;
}



.table-style {
    font-size: 12px;
    font-family: "Nunito", sans-serif;
    width: 100%;
    border: solid 2px #dad7d7;
}

/* The following 'td-* styles are to fix the width of the table cells so that
    they display smoothly and the table headings stay in the same position 
    when new data is displayed */

.td-client {
    width: 100px;
}

.td-username {
    width: 100px;
}

.td-id {
    width: 60px;
    text-align: center;
}

.td-date {
    width: 90px;
}

.td-sw-comp {
    width: 180px;
}


.td-priority {
    width: 71px;

}

.td-iss-summary {
    width: 480px;

}

.td-ftr-summary {
    width: 500px;

}



.td-status {
    width: 100px;

}

.td-more {
    width: 50px;

}

.td-comments-icon {
    width: 50px;

}

.td-paid {
    width: 71px;

}

.td-price {
    width: 71px;

}

.td-qty {
    width: 120px;
}

.td-thumbs-up {
    width: 50px;
}

.td-add {
    width: 50px;
}



.image-link {
    font-size: 12px!important;
}

@media(min-width: 768px) {
    .image-link {
        font-size: 15px!important;
    }

}


.td-form-font {
    font-size: 12px!important;
}

/* Set height of row that has 'Back to list' as the background of the link
   will be highlighted on hover, so leave enough room around the link  */

.back-row-height {
    height: 38px;
}


/* Styling for the cart -----------------------------------------------------*/

.cart-container {
    color: #3b3b3b!important;
    margin-left: 0px;
    font-size: 14px;
    padding-top: 15px;

}

@media(min-width:1024px) {
    .cart-container {
        margin-left: 5px;
    }
}

@media(min-width:1025px) {
    .cart-container {
        font-size: 18px;
        margin-left: 60px;
        padding: 13px;


    }
}


/* Styling for cart button / icon */

.cart-nav-link {
    font-size: 13px!important;
    padding: 15px;
    margin-bottom: 2px;
    color: #80C0FF!important;
    width: 120px;

}

@media(min-width:1025px) {
    .cart-nav-link {
        margin-left: 10px;
    }
}


.cart-count-style {
    background-color: #80C0FF!important;
    color: #fff!important;

}



.bg-style {
    padding: 6px 12px;
    background-color: #80C0FF;
    border: solid 1px #fafaff;
    min-width: 35px;

}

.cart-qty-style {
    padding: 6px 12px;
    background-color: #80C0FF;
    border: solid 1px #f3f2f2;
    border-radius: .25rem;
    color: fafaff;
    font-size: 13px!important;
}


.cart-form-group {
    padding-top: 10px;
}


.card {

    margin-bottom: 15px;
    padding: 10px;
    background-color: #e6f2ff!important;
    font-size: 13px;
}

@media(min-width: 768px) {
    .card {
        margin-right: 20px;

    }
}

.cart-btn {
    font-size: 13px!important;
    border: solid 1px #f3f2f2;
    width: 100%;
    background-color: #C080FF!important;
    color: fafaff!important;
}



.cart-enabled-link {}

.cart-enabled-link:hover {
    border-radius: 5px;
    color: #fafaff!important;
    background-color: #80C0FF!important;
}


.amend-enabled-link {}

.amend-enabled-link:hover {
    border-radius: 5px;
    color: #C080FF!important;
    background-color: fff!important;
}




.cart-form-control {
    font-size: 13px!important;
    border: solid 1px #f3f2f2;
    border-radius: .25rem;
    width: 100%!important;
}


@media(min-width: 768px) {
    .card {
        font-size: 14px!important;
    }
    .cart-form-control {
        font-size: 14px!important;
    }
    .cart-btn {
        font-size: 14px!important;
    }
    .cart-qty-style {
        font-size: 14px!important;
    }
}


@media(min-width: 1024px) {
    .card {
        font-size: 16px;
    }
    .cart-form-control {
        font-size: 16px!important;
    }
    .cart-btn {
        font-size: 16px!important;
    }
    .cart-qty-style {
        font-size: 16px!important;

    }
}


.feature-description {
    min-height: 40px;
}

.cart-image {
    min-height: 200px;
}

/* css for the Cart and Checkout ---------------------------------------------*/

.checkout-btn {
    background-color: #C080FF!important;
    color: #fff!important;
}

.checkout-btn:hover {
    color: #C080FF!important;
    background-color: #fff!important;
}


.checkout-amount {
    margin-right: 20px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #80C0FF;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    color: fafaff;

}

.checkout-bg {
    background-color: #C080FF!important;
    color: #fafaff!important;
}

.pay-details-legend {
    background-color: #80C0FF;
    color: #fafaff;
}


.pay-btn {
    background-color: #C080FF!important;
    color: #fff!important;
}

.pay-btn:hover {
    border-radius: 5px;
    color: #C080FF!important;
    background-color: fff!important;
    width: 150px;
}
