{% extends 'base.html' %} {% block page_title %}User Page{% endblock %} {% block content %}

<main>

    <!-- Show Issues Filter -->

    <div class="row no-gutters">
        <div class="col-12 col-md-6 col-lg-4 filter-name pl-3">
            <div class="row no-gutters mb-2">
                <div class="col-2 ">
                    <p><strong>Issues: </strong></p>
                </div>

                <!-- Dropdown for Issues Filter -->

                <div class="col-10">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle filter-dd" href="#" role="button" id="dropdownMenuLink-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ selected_issues_filter }}</a>

                        <div class="dropdown-menu " aria-labelledby="dropdownMenuLink-1"><a class="dropdown-item issue-filter" data-value="ALL ISSUES">ALL ISSUES</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item issue-filter" data-value="ASSIGNED TO ME">ASSIGNED TO ME</a>

                            <!-- If the user is on the Vendor side, they will be able to filter issues by 'ALL ISSUES', and 'ISSUES ASSIGNED TO ME',
                                 but they will also have a Client Code dropdown box from which to select clients -->

                            <!-- If the user is on the Client side, include the following options. Client-side users will not have a dropdown box
                                 from which to select Client codes (data protection issue). Although they will be able to see other clients' issues,
                                 they wont be able to see other clients' details -->

                            {% if userdetails.user_type == "C" %}

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item issue-filter" data-value="OUR ISSUES ONLY">OUR ISSUES ONLY</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item issue-filter" data-value="OTHER CLIENTS' ISSUES ONLY">OTHER CLIENTS' ISSUES ONLY</a> {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Show Status Filter -->

        <div class="col-12 col-md-6 col-lg-4 filter-name">
            <div class="row no-gutters">
                <div class="col-2 ">
                    <p><strong>Status: </strong></p>
                </div>

                <!-- Status Dropdown -->

                <div class="col-10">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle filter-dd" href="#" role="button" id="dropdownMenuLink-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ selected_status_filter }}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-2">
                            <a class="dropdown-item status-filter" href="#" data-value="ALL">ALL</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item status-filter" href="#" data-value="DRAFT">DRAFT</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item status-filter" href="#" data-value="LOGGED">LOGGED</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item status-filter" href="#" data-value="OPEN">OPEN</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item status-filter" href="#" data-value="ANALYSIS">ANALYSIS</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item status-filter" href="#" data-value="FIXING">FIXING</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item status-filter" href="#" data-value="TESTING">TESTING</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item status-filter" href="#" data-value="DEPLOYED">DEPLOYED</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item status-filter" href="#" data-value="CLOSED">CLOSED</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- If the user is on the Vendor side, include Client Code dropdown -->

        {% if userdetails.user_type == "V" %}
        <div class="col-12 col-md-6 col-lg-4 filter-name">
            <div class="row no-gutters">
                <div class="col-2 ">
                    <p><strong>Client: </strong></p>
                </div>

                <!-- Client Dropdown - the client codes are extracted from the Client database-->

                <div class="col-10">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle filter-dd" href="#" data-value={{ selected_client_filter }} role="button" id="dropdownMenuLink-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ selected_client_filter }}</a>
                        <div class="dropdown-menu " aria-labelledby="dropdownMenuLink-3">
                            <a class="dropdown-item client-filter" href="#" data-value="ALL">ALL</a> {% for client in all_clients %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item client-filter" href="#" data-value={{ client.client_code}}>{{ client.client_code}}</a> {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}

    </div>

    <!-- Show Issues as per the Issue & Status & Client (if applicable) Filters -->

    <!-- On the first load of this page, the details are passed in from the 
         'userhome' view. When the user filters by Issue, Status, Client, the
          js in base.html is triggered, and it filters and re-displays the
          data -->

    <div class="row no-gutters">
        <div class="table-responsive-md">

            <table class="table table-striped table-style">
                <thead>
                    <tr>
                        <th scope="col" class="text-center td-date">Date</th>
                        <th scope="col" class="text-center td-username">Input User</th>
                        <th scope="col" class="text-center td-username">Assigned to</th>
                        <th scope="col" class="d-md-table-cell text-center td-sw-comp">Software Component</th>
                        <th scope="col" class="d-md-table-cell text-center td-priority">Priority</th>
                        <th scope="col" class="text-center td-summary">Issue Summary</th>
                        <th scope="col" class="text-center td-status">Status</th>
                        <th scope="col" class="text-center td-more"><i class="fas fa-ellipsis-h more-icon-th"></th>
                    </tr>
                </thead>
               
               <!-- On initial load, the table details will be retrieved via 
                    the 'user_home' view and displayed via userhome.html. 
                    When the user filters the issues, it will trigger the 
                    javascript 'on click' functions in base.html which will 
                    call the 'get_issues' view, return the details to the js
                    function, which will clear the table and output the new
                    details to it. -->
                    
                <tbody>
                     {% for issue in issues %}
                    <tr>
                        <td class="d-md-table-cell td-date">{{ issue.input_date|date:"d M y" }}</td>
                        
                        <!-- The input user will always be a client-side user -->
                        
                        <td class="d-md-table-cell td-username">{{ issue.user_name }}</td>
                        
                        <!-- The issue can be assigned to a user on the client side, and a user on the vendor side. 
                             Show the relevant assigned user depending on whether the logged in user is on the client side
                             or the vendor side -->
                        
                        {% if userdetails.user_type == "C"%}
                        
                        <td class="d-md-table-cell td-username">{{ issue.assigned_client_user }}</td>
                        
                        {% else %}
                        <td class="d-md-table-cell td-username">{{ issue.assigned_vendor_user }}</td>
                        
                        {% endif %}
                        
                        <td class="d-md-table-cell td-sw-comp">{{ issue.software_component }}</td>
                        <td class="text-center td-priority">{{ issue.priority }}</td>
                        <td class="td-summary">{{ issue.summary }}</td>
                        <td class="text-center td-status">{{ issue.status }}</td>
                        <td class="text-center td-more more-icon-cell"><a href="#" ><i class="fas fa-ellipsis-h more-icon-style"></i></a>
                            </td>
                    </tr>
                    {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>

    <!-- Pagination -->


    
    <nav id="paginate" aria-label="Page navigation">
        {% if issues.has_other_pages %}
        
            <ul class="pagination justify-content-center mt-3">
                {% if issues.has_previous %}
                <li><a href="?page={{ issues.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li><span>&laquo;</span></li>
                {% endif %} {% for i in issues.paginator.page_range %} {% if issues.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                </li>
                {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %} {% endfor %} {% if issues.has_next %}
                <li><a href="?page={{ issues.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li><span>&raquo;</span></li>
                {% endif %}
            </ul>
      {% endif %}
    </nav>
  


</main>




{% endblock %}
