{% extends 'base.html' %} {% block page_title %}User Page{% endblock %} {% block content %}

<main>

<!-- Issues Search Box - the search is handled via js, triggered by "iss-search-btn  -->

    <div class="row no-gutters mt-1 mb-1">
        <div class="col-12 filter-name pb-1 text-center">
            <input id="iss-search-val" type='text' value="" name='q_issues'>
            <button id="iss-search-btn" class="btn iss-btn-color iss-enabled-link">Search</button>
        </div>
    </div>


    <!-- Show Issues Filter -->

    <div class="row no-gutters mt-1 mb-1">
        <div class="col-12 col-md-3 filter-name pb-2">

            <div class="dropdown iss-dropdown"><strong class="pr-2"><i class="fas fa-filter iss-filter-icon-color"></i>Issues: </strong>
                <a class="btn btn-secondary dropdown-toggle iss-filter-dd" href="#" role="button" id="dropdownMenuLink-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ selected_issues_filter_text }}</a>

                <div class="dropdown-menu " aria-labelledby="dropdownMenuLink-1"><a class="dropdown-item issues-filter" data-value="ALL">ALL ISSUES</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item issues-filter" data-value="ME">ASSIGNED TO ME</a>

                    <!-- If the user is on the Vendor side, they will be able to filter issues by 'ALL ISSUES', and 'ISSUES ASSIGNED TO ME',
                                     but they will also have a Client Code dropdown box from which to select clients -->

                    <!-- If the user is on the Client side, include the following options. Client-side users will not have a dropdown box
                                     from which to select Client codes (data protection issue). Although they will be able to see other clients' issues,
                                     they wont be able to see other clients' details -->

                    {% if userdetails.user_type == "C" %}

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item issues-filter" data-value="OUR">OUR ISSUES ONLY</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item issues-filter" data-value="OTHER">OTHER CLIENTS' ISSUES ONLY</a> {% endif %}
                </div>
            </div>

        </div>



        <!-- Show Status Filter -->

        <div class="col-12 col-md-3 filter-name pb-2  status-align">
            <div class="dropdown iss-dropdown"><strong class="pr-2"><i class="fas fa-filter iss-filter-icon-color"></i>Status: </strong>
                <a class="btn btn-secondary dropdown-toggle iss-filter-dd" href="#" role="button" id="dropdownMenuLink-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ selected_status_filter }}</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-2">
                    <a class="dropdown-item iss-status-filter" href="#" data-value="ALL">ALL</a>
                    <div class="dropdown-divider"></div>

                    <!-- If the user is on the vendor side, exclude 'DRAFT'. They dont see issues
                     until they're at a status of 'LOGGED' -->

                    {% if userdetails.user_type == "C" %}
                    <a class="dropdown-item iss-status-filter" href="#" data-value="DRAFT">DRAFT</a>
                    <div class="dropdown-divider"></div>
                    {% endif %}

                    <a class="dropdown-item iss-status-filter" href="#" data-value="LOGGED">LOGGED</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item iss-status-filter" href="#" data-value="OPEN">OPEN</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item iss-status-filter" href="#" data-value="ANALYSIS">ANALYSIS</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item iss-status-filter" href="#" data-value="FIXING">FIXING</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item iss-status-filter" href="#" data-value="TESTING">TESTING</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item iss-status-filter" href="#" data-value="DEPLOYED">DEPLOYED</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item iss-status-filter" href="#" data-value="CLOSED">CLOSED</a>
                </div>
            </div>
        </div>


        <!-- Show Priority Filter -->

        <div class="col-12 col-md-3 filter-name pb-2">
            <div class="dropdown iss-dropdown"><strong class="pr-1"><i class="fas fa-filter iss-filter-icon-color"></i>Priority: </strong>
                <a class="btn btn-secondary dropdown-toggle iss-filter-dd" href="#" role="button" id="dropdownMenuLink-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ selected_priority_filter_text }}</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-3">
                    <a class="dropdown-item priority-filter" href="#" data-value="ALL">ALL</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item priority-filter" href="#" data-value="1">1 - URGENT</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item priority-filter" href="#" data-value="2">2 - HIGH PRIORITY</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item priority-filter" href="#" data-value="3">3 - MEDIUM PRIORITY</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item priority-filter" href="#" data-value="4">4 - LOW PRIORITY</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item priority-filter" href="#" data-value="5">5 - COSMETIC</a>
                </div>
            </div>
        </div>


        <!-- If the user is on the Vendor side, include Client Code dropdown 
             the client codes are extracted from the Client database -->

        {% if userdetails.user_type == "V" %}
        <div class="col-12 col-md-3 filter-name pb-2">
            <div class="dropdown iss-dropdown"><strong class="pr-3"><i class="fas fa-filter iss-filter-icon-color"></i>Client: </strong>
                <a class="btn btn-secondary dropdown-toggle iss-filter-dd" href="#" data-value={{ selected_client_filter }} role="button" id="dropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ selected_client_filter }}</a>
                <div class="dropdown-menu " aria-labelledby="dropdownMenuLink-4">
                    <a class="dropdown-item iss-client-filter" href="#" data-value="ALL">ALL</a> {% for client in all_clients %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item iss-client-filter" href="#" data-value="{{ client.client_code}} {{client.client_name}}">{{ client.client_code}} {{client.client_name}}</a> {% endfor %}

                </div>
            </div>
        </div>
        {% endif %}
    </div>





    <!-- Show Issues as per the Issue & Status & & Priority & Client (if applicable) Filters -->

    <!-- On the first load of this page, the details are passed in from the 
         'userhome' view. When the user filters by Issue, Status, Client, the
          js in base.html is triggered, and it filters and re-displays the
          data -->

    <div class="row no-gutters table-height">
        <div class="table-responsive">

            <table class="table table-striped table-style">
                <thead class="table-hd">
                    <tr>
                        <th scope="col" class="text-center td-id">#</th>
                        <th scope="col" class="text-center td-date">Date</th>
                        <th scope="col" class="text-center td-username">Assigned to</th>
                        <th scope="col" class="text-center td-sw-comp">Software Component</th>
                        <th scope="col" class="text-center td-priority">Priority</th>
                        <th scope="col" class="text-center td-iss-summary">Issue Summary</th>
                        <th scope="col" class="text-center td-status">Status</th>
                        <th scope="col" class="text-center td-thumbs-up pl-0 ml-0"><i class="fas fa-thumbs-up thumbs-up-icon"></i> <i class="fas fa-thumbs-down thumbs-up-icon"></i></th>
                        <th scope="col" class="text-center td-thumbs-up pl-0 ml-0"><i class="fas fa-flag"></i></th>
                        <th scope="col" class="text-center td-more"><i class="fas fa-ellipsis-h iss-more-icon-th"></i></th>
                        <th scope="col" class="text-center td-comments-icon"><i class="fas fa-comments iss-comments-icon-th"></i></th>
                    </tr>
                </thead>
               
               <!-- On initial load, the table details will be retrieved via 
                    the 'user_home' view and displayed via userhome.html. 
                    When the user filters the issues, it will trigger the 
                    javascript 'on click' functions in base.html which will 
                    call the 'get_issues' view, return the details to the js
                    function, which will clear the table and output the new
                    details to it. -->
                    
                <tbody>
                     {% for issue in issues %}
                    <tr>
                        <td class="td-id">{{ issue.id }}</td>
                        <td class="td-date">{{ issue.input_date|date:"d M y" }}</td>
                        
                        
                        <!-- The issue can be assigned to a user on the client side, and a user on the vendor side. 
                             Show the relevant assigned user depending on whether the logged in user is on the client side
                             or the vendor side -->
                        
                        {% if userdetails.user_type == "C"%}
                        
                            <!-- Only show user issue is assigned to if issue belongs to the client the
                                 user is associated with  -->
                        
                            {% if userdetails.vend_client_code == issue.client_code  %}
                        
                            <td class="td-username">{{ issue.assigned_client_user }}</td>
                            
                            {% else %}
                            
                            <td class="td-username">**********</td>
                            
                            {% endif %}
                        
                        {% else %}
                        
                        <!-- Vendor-side user -->
                        <td class="td-username">{{ issue.assigned_vendor_user }}</td>
                        
                        {% endif %}
                        
                        <td class="td-sw-comp">{{ issue.software_component }}</td>
                        <td class="text-center td-priority">{{ issue.priority }}</td>
                        <td class="td-iss-summary">{{ issue.summary }}</td>
                        <td class="text-center td-status">{{ issue.status }}</td>
                        
                        {% if userdetails.user_type == "C" %}
                                    
                        <!-- if client-side user enable the thumbs up / down button -->
                    
                        <!-- Thumbs up field -->
                                
                            <td class="pl-0 ml-0 td-thumbs-up">
                            
                            <!-- If the user has already 'thumbed up' this issue, show a 'thumb down'
                                 to allow them to change it. 
                                 A user cant 'thumb up/down' issues that belong to the client they're associated
                                 so those issues wont be in this list -->
                                 
                                {% if issue.id in thumb_down_list %}

                                    <!-- Thumb Down - Include the issue id in  the classes, so that js can find it on '.thumb-click' -->

                                    <a class="{{issue.id}} btn iss-td-thumbs-up-style td-form-font iss-enabled-link thumb-click" href="#"><i id="thumb_{{issue.id}}"  class="fas fa-thumbs-down thumbs-up-icon"></i></a>
                                
                                {% else %}
                                    
                                    <!-- Thumb Up - Include the issue id in  the classes, so that js can find it on '.thumb-click' -->
                                    
                                    <!-- If this issue belongs to the client the user is associated with, disable the
                                         'thumbs up' - they cant 'thumbs up/down' their own issues  -->
                                    
                                    
                                    {% if userdetails.vend_client_code == issue.client_code or issue.status == "DEPLOYED" or issue.status == "CLOSED" %}
                                    <a class="{{issue.id}} btn iss-td-thumbs-up-style td-form-font disabled-link thumb-click" href="#"><i id="thumb_{{issue.id}}" class="fas fa-thumbs-up thumbs-up-icon"></i></a>
                                    
                                    {% else %}
                                    
                                    <a class="{{issue.id}} btn iss-td-thumbs-up-style td-form-font iss-enabled-link thumb-click" href="#"><i id="thumb_{{issue.id}}" class="fas fa-thumbs-up thumbs-up-icon"></i></a>
                                    
                                    {% endif%}
                            
                                {% endif %}
                                
                            </td>


                        {% else %}

                            <!-- Vendor-side user, disable thumbs up button -->

                            <td class="pl-0 ml-0 td-thumbs-up">
                                <button class="btn iss-td-thumbs-up-style td-form-font td-thumbs-up disabled-link " type="submit" disabled><i class="fas fa-thumbs-up thumbs-up-icon"></i></button>
                            </td>
                            
                        {% endif %}

                        <td id="thumbs_up_count_{{issue.id}}" class="text-center td-thumbs-up">{{ issue.thumbs_up_count }}</td>

                        <td class="text-center td-more  "><a class="iss-more-icon-style" href='{% url 'issue_details' issue.id 'n' back_to_page list_filters %}'><i class="fas fa-ellipsis-h iss-more-icon-style"></i></a>
                        </td>
                        <td class="text-center td-comments-icon "><a class="iss-comments-icon-style" href='{% url 'issue_details' issue.id 'y' back_to_page list_filters %}'><i class="fas fa-comments iss-comments-icon-style "></i></a>
                        </td>
                        
                    </tr>
                    
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>

</main>




{% endblock %}
