{% extends 'base.html' %} {% block page_title %}User Page{% endblock %} {% block content %}

<main>

   <div class="row no-gutters">
        <div class="fancy-font offset-2 col-8 text-center">
            
            <h1 class="fancy-font pt-3 pb-3">Welcome to the Issue Tracking System for:</h1>
            <h2 class="fancy-font company-name-style pl-5">KMcD Online Accounting System!</h2>
            
            <h3>User Details User Page</h3>
            <p>user.username: {{ user.username }}</p>
            <p>userdetails.user_name: {{userdetails.user_name}}</p>
            <p>user.email: {{ user.email}}</p>
            <p>userdetails.user_email_addr: {{userdetails.user_email_addr}}</p>
            <p>userdetails.user_type: {{userdetails.user_type}}</p>
            <p>userdetails.vend_cust_id: {{userdetails.vend_cust_id}}</p>
        
        </div>
    </div>
    
    
    
</main>






{% endblock %}
