{% extends 'base.html' %} {% block page_title %}Home Page{% endblock %} {% block content %}

<main>

    {% if user.is_authenticated %}

    <!-- If user is already logged in redirect them back to Issue Tracker or to Logout -->
    <div class="row no-gutters ">

        <div class="courgette-font col-12 offset-lg-2 col-lg-8 text-center">
            <h3 class="pt-5 pb-3">Please go to</h3>
            <h3 class="pb-3 "><a class="loggedin-links" href="{% url 'user_home' %}">Issue Tracker</a></h3>
            <h3>or</h3>
            <h3 class="pt-3"><a class="loggedin-links" href="{% url 'logout' %}">Logout</a></h3>
        </div>
    </div>

    {% else %}

    <!-- User not logged in . . .  -->

    <div class="row no-gutters ">
        <div class="courgette-font col-12 offset-lg-2 col-lg-8 text-center">
            <p class="welcome-mesg">Welcome to the Issue Tracker for</p>
            <p class="company-name-style courgette-font mb-4">KMcD Online Accounting System!</p>
        </div>
    </div>

    <!-- Allow user to Register . . .  -->

    <div class="row no-gutters mt-4">
        <div class="courgette-font col-12 offset-md-3 col-md-3 text-center">
            <button class="btn  mb-4"><a class="btn-login-reg welcome-links" href="{% url 'login' %}">Login</a></button>
            
        </div>

        <!-- Allow user to Login / Reset Password  -->

        <div class="courgette-font col-12 col-md-3 text-center">
            <button class="btn"><a class="btn-login-reg welcome-links" href="{% url 'registration' %}">Register</a></button>
        </div>
        <div class="p-2"></div>
    </div>

    {% endif %}


</main>


{% endblock %}
