{% extends 'base.html' %} {% block page_title %}Home Page{% endblock %} {% block content %}

<main>

    <div class="row no-gutters">
        <div class="courgette-font col-12 offset-lg-2 col-lg-8 text-center">
            
    
            {% if user.is_authenticated %}

            <h3 class="pt-5 pb-3">Please go to</h3>
            <h3 class="pb-3"><a class="links" href="{% url 'userhome' %}">Issue Tracking System</a></h3>
            <h3>or</h3>
            <h3  class="pt-3"><a class="links" href="{% url 'logout' %}">Logout</a></h3>

            {% else %}

            <p class="welcome-mesg pt-3 pb-2">Welcome to the Issue Tracking System for</p>
            <p class="company-name-style mb-4">KMcD Online Accounting System!</p>
            
            <h3><a class="links" href="{% url 'login' %}">Please Login </a></h3>
            <h3>or</h3>
            <h3><a class="links" href="{% url 'registration' %}">Register</a></h3>
            
            {% endif %}
        
            
        </div>
    </div>
</main>






{% endblock %}
