{% extends 'base.html' %} {% block page_title %}User Page{% endblock %} {% block content %}

<main>
    
    <!-- Features Search Box - the search is handled via js, triggered by "ftr-search-btn  -->

    <div class="row no-gutters mt-1 mb-1">
        <div class="col-12 filter-name pb-1">
            <input id="ftr-search-val" type='text' value="" name='q_issues'>
            <button id="ftr-search-btn" class="btn ftr-btn-color ftr-enabled-link ">Search</button>
        </div>
    </div>


    <!-- Show Features Filter -->

    <div class="row no-gutters mt-1 mb-1">
        <div class="col-12 col-md-3 filter-name pb-2">

            <div class="dropdown ftr-dropdown"><strong class="pr-2"><i class="fas fa-filter ftr-filter-icon-color"></i>Features: </strong>
                <a class="btn btn-secondary dropdown-toggle ftr-filter-dd" href="#" role="button" id="dropdownMenuLink-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ selected_features_filter }}</a>

                <div class="dropdown-menu " aria-labelledby="dropdownMenuLink-1"><a class="dropdown-item features-filter" data-value="ALL">ALL FEATURES</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item features-filter" data-value="ME">ASSIGNED TO ME</a>

                    <!-- If the user is on the Vendor side, they will be able to filter Features by 'ALL FEATURES', and 'FEATURES ASSIGNED TO ME',
                                     but they will also have a Client Code dropdown box from which to select clients -->

                    <!-- If the user is on the Client side, include the following options. Client-side users will not have a dropdown box
                                     from which to select Client codes (data protection issue). Although they will be able to see other clients' Features,
                                     they wont be able to see other clients' details -->

                    {% if userdetails.user_type == "C" %}

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item features-filter" data-value="OUR">OUR FEATURES ONLY</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item features-filter" data-value="OTHER">OTHER CLIENTS' FEATURES ONLY</a> {% endif %}
                </div>
            </div>

        </div>



        <!-- Show Status Filter -->

        <div class="col-12 col-md-3 filter-name pb-2  status-align">
            <div class="dropdown ftr-dropdown"><strong class="pr-2"><i class="fas fa-filter ftr-filter-icon-color"></i>Status: </strong>
                <a class="btn btn-secondary dropdown-toggle ftr-filter-dd" href="#" role="button" id="dropdownMenuLink-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ selected_status_filter }}</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-2">
                    <a class="dropdown-item ftr-status-filter" href="#" data-value="ALL">ALL</a>
                    <div class="dropdown-divider"></div>

                    <!-- If the user is on the vendor side, exclude 'DRAFT'. They dont see Features
                     until they're at a status of 'LOGGED' -->

                    {% if userdetails.user_type == "C" %}
                    <a class="dropdown-item ftr-status-filter" href="#" data-value="DRAFT">DRAFT</a>
                    <div class="dropdown-divider"></div>
                    {% endif %}

                    <a class="dropdown-item ftr-status-filter" href="#" data-value="LOGGED">LOGGED</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item ftr-status-filter" href="#" data-value="OPEN">OPEN</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item ftr-status-filter" href="#" data-value="ANALYSIS">ANALYSIS</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item ftr-status-filter" href="#" data-value="FIXING">FIXING</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item ftr-status-filter" href="#" data-value="TESTING">TESTING</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item ftr-status-filter" href="#" data-value="DEPLOYED">DEPLOYED</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item ftr-status-filter" href="#" data-value="CLOSED">CLOSED</a>
                </div>
            </div>
        </div>


        <!-- Show Paid Filter -->

        <div class="col-12 col-md-3 filter-name pb-2">
            <div class="dropdown ftr-dropdown"><strong class="pr-1"><i class="fas fa-sort ftr-filter-icon-color ftr-sort-icon"></i>Paid: </strong>
                <a class="btn btn-secondary dropdown-toggle ftr-filter-dd" href="#" role="button" id="dropdownMenuLink-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ selected_paid_order }}</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-3">
                    <a class="dropdown-item paid-order" href="#" data-value="SORTBY">SORT BY</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item paid-order" href="#" data-value="LOWESTTOHIGHEST">LOWEST TO HIGHEST</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item paid-order" href="#" data-value="HIGHESTTOLOWEST">HIGHEST TO LOWEST</a>
                    
                </div>
            </div>
        </div>


        <!-- If the user is on the Vendor side, include Client Code dropdown 
             the client codes are extracted from the Client database -->

        {% if userdetails.user_type == "V" %}
        <div class="col-12 col-md-3 filter-name pb-2">
            <div class="dropdown ftr-dropdown"><strong class="pr-3"><i class="fas fa-filter ftr-filter-icon-color"></i>Client: </strong>
                <a class="btn btn-secondary dropdown-toggle ftr-filter-dd" href="#" data-value={{ selected_client_filter }} role="button" id="dropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ selected_client_filter }}</a>
                <div class="dropdown-menu " aria-labelledby="dropdownMenuLink-4">
                    <a class="dropdown-item ftr-client-filter" href="#" data-value="ALL">ALL</a> {% for client in all_clients %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item ftr-client-filter" href="#" data-value="{{ client.client_code}} {{client.client_name}}">{{ client.client_code}} {{client.client_name}}</a> {% endfor %}

                </div>
            </div>
        </div>
        {% endif %}
    </div>


    <!-- Show Features as per the Feature & Status & Client (if applicable) Filters -->

    <!-- On the first load of this page, the details are passed in from the 
         'userhome' view. When the user filters by Feature, Status, Client, the
          js in base.html is triggered, and it filters and re-displays the
          data -->

    <div class="row no-gutters table-height">
        <div class="table-responsive">

            <table class="table table-striped table-style">
                <thead class="table-hd">
                    <tr>
                        <th scope="col" class="text-center td-id">#</th>
                        <th scope="col" class="text-center td-date">Date</th>
                        <th scope="col" class="text-center td-client">Client</th>
                        <th scope="col" class="text-center td-username">Assigned to</th>
                        <th scope="col" class="text-center td-sw-comp">Software Component</th>
                        <th scope="col" class="text-center td-ftr-summary">Feature Summary</th>
                        <th scope="col" class="text-center td-status">Status</th>
                        <th scope="col" class="text-center td-price"><i class="fas fa-euro-sign"></i> Price</th>
                        <th scope="col" class="text-center td-paid"><i class="fas fa-euro-sign"></i> Paid</th>
                        <th scope="col" class="text-center td-add pl-0 ml-0"><i class="fas fa-cart-plus "></i></th>
                        <th scope="col" class="text-center td-cart-plus pl-0 ml-0"><i class="fas fa-flag"></i></th>
                        <th scope="col" class="text-center td-more"><i class="fas fa-ellipsis-h ftr-more-icon-th"></th>
                        <th scope="col" class="text-center td-comments-icon"><i class="fas fa-comments ftr-comments-icon-th"></i></th>
                    </tr>
                </thead>
               
               <!-- After clicking on 'Features' in the navbar, the table 
                    details will be retrieved via the 'Features_list' view and 
                    displayed via userhome.html. When the user filters the 
                    Features, it will trigger the javascript 'on click' 
                    functions in base.html which will call the 'get_features' 
                    view, return the details to the js function, which will 
                    clear the table and output the new details to it. -->
                    
                <tbody>
                     {% for feature in features %}
                    <tr>
                        <td class="td-id">{{ feature.id }}</td>
                        <td class="td-date">{{ feature.input_date|date:"d M y" }}</td>
                        
                        <!-- The Feature can be assigned to a user on the client side, and a user on the vendor side. 
                             Show the relevant assigned user depending on whether the logged in user is on the client side
                             or the vendor side -->
                        
                        {% if userdetails.user_type == "V" %}
                        
                            <td class="td-client text-center">{{ feature.client_code }}</td>
                            <td class="td-username text-center">{{ feature.assigned_vendor_user }}</td>
                        
                        {% else %}
                        
                            {% if userdetails.vend_client_code == feature.client_code %}
                                <td class="td-client text-center">{{ feature.client_code }}</td>
                                <td class="td-username text-center">{{ feature.assigned_client_user }}</td>
                                
                            {% else %}
                                <td class="td-client text-center">******</td>
                                <td class="td-username text-center">******</td>
                                
                            {% endif %}
                        
                        {% endif %}
                        
                        <td class="td-sw-comp">{{ feature.software_component }}</td>
                        <td class="td-ftr-summary">{{ feature.summary }}</td>
                        <td class="text-center td-status">{{ feature.status }}</td>
                        
                        <td class="text-center td-price">{{ feature.price }}</td>
                        <td class="text-center td-paid">{{ feature.paid }}</td>
                        
                            <form method="post" class="form-inline" action="{% url 'add_to_cart' feature.id %}">
                                {% csrf_token %}
                                <div class="input-group">
                                    
                                    {% if userdetails.user_type == "C" %}
                                    
                                    <!-- if client-side user enable the cart button, if the price is > 0 -->
                                    
                                    {% if feature.price > 0 %}
                                        
                                        <td class="pl-0 ml-0 td-cart-plus">
                                            <button class="btn ftr-td-cart-plus-style td-form-font  ftr-enabled-link" type="submit"><i class="fas fa-cart-plus cart-plus-icon"></i></button>
                                        </td>
                                        
                                        {% else %}
                                        
                                        <td class="pl-0 ml-0 td-cart-plus">
                                            <button class="btn ftr-td-cart-plus-style td-form-font  disabled-link" type="submit"><i class="fas fa-cart-plus cart-plus-icon"></i></button>
                                        </td>
                                        
                                        {% endif %}
                                        
                                    {% else %}
                                    
                                     <!-- Vendor-side user, disable cart button -->
                                    
                                    <td class="pl-0 ml-0">
                                        <button class="btn ftr-td-cart-plus-style td-form-font td-cart-plus disabled-link " type="submit" disabled><i class="fas fa-cart-plus cart-plus-icon"></i></button>
                                    </td>
                                    {% endif %}
                                </div>
                            </form>
                            
                            <td class="text-center td-cart-plus">{{ feature.client_count }}</td>
                        
                        <td class="text-center td-more"><a class="ftr-more-icon-style" href='{% url 'feature_details' feature.id 'n' back_to_page list_filters %}' ><i class="fas fa-ellipsis-h ftr-more-icon-style"></i></a>
                            </td>
                        <td class="text-center td-comments-icon"><a class="ftr-more-icon-style" href='{% url 'feature_details' feature.id 'y' back_to_page list_filters %}' ><i class="fas fa-comments ftr-comments-icon-style"></i></a>
                            </td>
                    </tr>
                    {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>

</main>


{% endblock %}
