{% extends "base.html" %} {% load bootstrap_tags %} {% block content %}

<!-- This form will be used by:
     Vendor-side users to allow them to change the Feature Status, Unit Price, 
     and Assigned Vendor User 
     Client-side users to allow them to change the Assigned Client user
     -->


<form method="POST" enctype="multipart/form-data" class="form-style">

    {% csrf_token %}

    <!-- NOTE: We are in Feature Update mode - we have the Feature we want to update
         already. -->


    <!-- Show Feature Id -->

    <div class="row no-gutters">
        <div class="col-12 ftr-id-style ">
            <span><em><strong>#: </strong>{{ feature.id}}</em></span>
        </div>
    </div>

    <!-- Populate these fields with the feature values -->

    <input name="client_code" type="hidden" id="client_code" value="{{ feature.client_code }}">
    <input name="user_id" type="hidden" id="user_id" value="{{ feature.user_id }}">
    <input name="status" type="hidden" id="status" value="{{ feature.status }}">
    <input name="price" type="hidden" id="price" value="{{ feature.price }}">
    <input name="assigned_client_user" type="hidden" id="assigned_client_user" value="{{ feature.assigned_client_user }}">
    <input name="assigned_vendor_user" type="hidden" id="assigned_vendor_user" value="{{ feature.assigned_vendor_user }}">

    <!-- Top of form: Software Component, Status and Price -->

    <!-- Show Component. Don't allow it to be changed -->

    <div class="row no-gutters">
        <div class="col-12 col-md-5">
            <div class="row no-gutters">
                <div class="col-12 form-font">
                    <span><strong>Component: </strong>{{ feature.software_component}}</span>
                </div>
            </div>
        </div>
        
        {% if userdetails.user_type == "C" %}
        
         <!-- Status - Client-side users cant change it  -->

        <div class="col-12 col-md-3 form-font pt-1">
            <span><strong>Status: </strong>{{ feature.status }}</span>
        </div>
        
        {% else %}

        <!-- Status -->
        <!-- Vendor-side users can change the feature status. Note that they cant
             see any feature until it has reached a status of LOGGED. I.e. they
             cant see any features that are still at DRAFT status -->

        <div class="col-12 col-md-3 form-font pt-1 pb-1">
            <label class="form-font" for="status"><strong>Status: </strong></label>
            <select name="status" id="status" class="form-font ftr-select" size="1">
                {% if feature.status == "DRAFT" %}
                <option value="DRAFT" selected>DRAFT</option>
                {% else %}
                <option value="DRAFT">DRAFT</option>
                {% endif %}
                
                {% if feature.status == "LOGGED" %}
                <option value="LOGGED" selected>LOGGED</option>
                {% else %}
                <option value="LOGGED">LOGGED</option>
                {% endif %}
                        
                {% if feature.status == "OPEN" %}
                <option value="OPEN" selected>OPEN</option>
                {% else %}
                <option value="OPEN">OPEN</option>
                {% endif %}
                
                {% if feature.status == "ANALYSIS" %}
                <option value="ANALYSIS" selected>ANALYSIS</option>
                {% else %}
                <option value="ANALYSIS">ANALYSIS</option>
                {% endif %}
                
                {% if feature.status == "FIXING" %}
                <option value="FIXING" selected>FIXING</option>
                {% else %}
                <option value="FIXING">FIXING</option>
                {% endif %}
                
                {% if feature.status == "TESTING" %}
                <option value="TESTING" selected>TESTING</option>
                {% else %}
                <option value="TESTING">TESTING</option>
                {% endif %}
                
                {% if feature.status == "DEPLOYED" %}
                <option value="DEPLOYED" selected>DEPLOYED</option>
                {% else %}
                <option value="DEPLOYED">DEPLOYED</option>
                {% endif %}
                
                {% if feature.status == "CLOSED" %}
                <option value="CLOSED" selected>CLOSED</option>
                {% else %}
                <option value="CLOSED">CLOSED</option>
                {% endif %}
                
            </select>
        </div>
        {% endif %}

        {% if userdetails.user_type == "C" %}
        
        <!--  Price - Client-side users cannot change the price -->

        <div class="col-12 col-md-4 form-font pt-1 position">
            <span><strong>Price: </strong></span> 
            <span><i class="fas fa-euro-sign"></i>{{ feature.price}}</span>
        </div>
        
        {% else %}

        <!--  Unit Price for this feature
             Vendor-side users can change the feature unit price -->

        <div class="col-12 offset-md-1 col-md-3 form-font pt-1 position">

            <label class="form-font" for="price"><strong>Price: </strong></label>
            <input id="price" name="price" type="number" value="{{ feature.price }}" min="0" max="99999999">
        </div>
        
        {% endif %}
    </div>

    {% if userdetails.user_type == "V" %}
    
    <!-- Vendor-side users can change the Assigned Vendor User -->

    <div class="row no-gutters pt-1">

        <label class="form-font pr-1" for="assigned_vendor_user"><strong>Assigned to:</strong></label>
        <select name="assigned_vendor_user" id="assigned_vendor_user" class="ftr-select" size="1">
                
            {% for assigneduser in assigned_users %}
            {% if assigneduser.user_id == feature.assigned_vendor_user %}
               <option value="{{ assigneduser.user_id }}" selected>{{ assigneduser.user_id }} - {{assigneduser.user_first_name }} {{ assigneduser.user_second_name  }}</option>
            {% else %}
                <option value="{{ assigneduser.user_id }}" >{{ assigneduser.user_id }} - {{assigneduser.user_first_name }} {{ assigneduser.user_second_name  }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    
    {% else %}
    
    <div class="row no-gutters pt-1">

        <label class="form-font pr-1" for="assigned_client_user"><strong>Assigned to: C: {{userdetails.user_type}}</strong></label>
        <select name="assigned_client_user" id="assigned_client_user" class="ftr-select" size="1">
                
            {% for assigneduser in assigned_users %}
            {% if assigneduser.user_id == feature.assigned_client_user %}
               <option value="{{ assigneduser.user_id }}" selected>{{ assigneduser.user_id }} - {{assigneduser.user_first_name }} {{ assigneduser.user_second_name  }}</option>
            {% else %}
                <option value="{{ assigneduser.user_id }}" >{{ assigneduser.user_id }} - {{assigneduser.user_first_name }} {{ assigneduser.user_second_name  }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    
    {% endif %}


    <hr>

    <!-- feature Title -->

    <div class="row no-gutters mt-3">
        <div class="col-12 offset-md-2 offset-xl-3 col-md-8 col-xl-6 form-font">
            <label for="title"><strong><em>Title:</em></strong></label>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-12 offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <textarea name="title" id="title" class="form-control form-font" rows="1" maxlength="50" disabled>{{ feature.title }}</textarea>
        </div>
    </div>


    <!-- Summary -->

    <div class="row no-gutters mt-2">
        <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <label for=" summary "><strong><em>Summary: </em></strong></label>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <textarea name="summary " id="summary " class="form-control form-font" rows="2 " maxlength="100" disabled>{{ feature.summary }}</textarea>
        </div>
    </div>


    <!-- Details  -->

    <div class="row no-gutters mt-2">
        <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <label for="details "><strong><em>Details: </em></strong></label>
        </div>
    </div>

    <div class="row no-gutters mb-4">
        <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <textarea name="details " id="details " class="form-control form-font" rows="10 " maxlength="700" disabled>{{ feature.details }}</textarea>
        </div>
    </div>

    <!-- Submit Button -->
    <hr>
    <div class="row no-gutters mt-2 ">
        <div class="col-12 offset-md-2 offset-xl-3 col-md-8 col-xl-6 text-center">
            <button class="btn ftr-btn-color ftr-enabled-link" type="submit ">Submit</button>
        </div>
    </div>

</form>

{% endblock %}
