{% extends "base.html" %} {% block content %}

<!-- FEATURES REPORT   
     - This report will show the rolled up total for the Client and allow the user
     to see the list behind the totals
     - The features list will show feature id, author, component, summary, amount paid,
     and status 
     - If the user is on the client-side, they will see the rolled up total for the
     client they are associated with only. They will only see the feature author's 
     client code, if the client they are associated with is the author, otherwise
     they will see "******"
     - If the user is on the vendor-side, they will see rolled up totals for all
     clients and they will see the author's client code in the list
     -->

{% for client in clienttotals %}
<div class="row no-gutters ftr-rep-client-total rep-shadow">

    <div class="col-12 col-md-6 rep-client-code ">
        <span class="pr-2">{{ client.client_code }}:</span>
        <span>{{ client.client_name }}</span>
    </div>

    <div class="col-12 col-md-6 report-align">
        <div class="row no-gutters">
            <div class="col-9 offset-md-3 col-md-6 offset-lg-5 col-lg-5 p-0">
                <span class="pr-2">Features Input and / or Paid for: </span>
            </div>
            <div class="col-3 col-md-3 col-lg-2 p-0 text-right">
                <span class="pr-2">{{ client.nr_flagged_features }}</span>

                <!-- The user can click on chevron-down/up to open / close the report
                     JS will listen for the class 'show-features-report' to detect when the chevron has been clicked.
                     It will take the client number from the classes (first class) and use it to create the id = '#features-report-client_code',
                     and 'report-open-close-client_code'
                     Note that "fa-chevron-down" is used by js in determing whether the report needs to be opened
                     or closed. It expects it to be the 2nd class of the <i> element. So if adding classes, add them
                     at the end. -->

                <span><a class="{{ client.client_code }} show-features-report btn td-form-font ftr-enabled-link ftr-chevron-style" href="#"><i  id="report-open-close-{{ client.client_code }}" class="fas fa-chevron-down "></i></a></span>
            </div>
        </div>
    </div>
</div>

<!-- Show the individual features for the client, but keep them hidden (d-none) -->

<div id="features-report-{{ client.client_code }}" class="row no-gutters d-none">

    <div class="table-responsive report">

        <table class="table table-striped table-style">
            <thead class="table-hd">
                <tr class="report-th">
                    <th scope="col" class="text-center td-date">#</th>
                    <th scope="col" class="text-center td-username">Author</th>
                    <th scope="col" class="text-center td-sw-comp">Component</th>
                    <th scope="col" class="text-center td-summary">Summary / Details </th>
                    <th class="text-center">Details</th>
                    <th scope="col" class="text-center td-paid">Paid</th>
                    <th scope="col" class="text-center td-status">Status</th>
                </tr>
            </thead>

            <!-- Show Feature id, author, component, summary, amount paid, status -->

            <tbody>

                {% for feature in features %} {% if feature.client_code == client.client_code %}

                <tr>
                    <td class="td-id">{{ feature.id }}</td>

                    {% if userdetails.user_type == "C" %} {% if userdetails.vend_client_code == feature.author %}
                    <td class="td-username">{{ feature.author }}</td>
                    {% else %}
                    <td class="td-username">******</td>
                    {% endif %} {% else %}

                    <!-- User is on the vendor side - show the Client who raised the Feature -->
                    <td class="td-username">{{ feature.author }}</td>

                    {% endif %}

                    <td class="td-sw-comp">{{feature.software_component }}</td>
                    <td class="td-summary">{{ feature.summary }}</td>

                    <!-- 'show-feature-details' class is used by js to detect when a user clicks on the chevron-down/up. The feature id identifies which 
                         Feature has been clicked on. The class 'det-chevron-down-client_code' is changed to 'det-chevron-up-client_code' when 
                         'fa-chevron-down' is flipped to 'up'. 'det-chevron-up-*' helps find the details that are open, so that they can be closed  
                         when the full report is closed
                                 -->

                    <td><a class="{{client.client_code}} {{feature.id}} show-feature-details btn td-form-font ftr-det-chevron-style" href="#"><i  id="details-open-close-{{client.client_code}}-{{feature.id}}" class="fas fa-chevron-down det-chevron-down-{{client.client_code}}"></i></a></td>
                    <td class="td-paid text-center">{{ feature.amount_paid }}</td>
                    <td class="td-status">{{ feature.status }}</td>
                </tr>

                <!-- The Feature Details are initially hidden (d-none). The user will use the 'chevron-down' 
                     to display the details, and 'chevron-up' to hide them 
                     Only the feature details will be shown on this line, but I'm including the other table columns
                     with blanks so as to keep the table structure as is
                     -->

                <tr id="feature-details-{{client.client_code}}-{{feature.id}}" class="feature-details-{{ client.client_code }} d-none">

                    <td class="td-id"></td>
                    <td class="td-username"></td>
                    <td class="td-sw-comp "><strong>Feature Details: </strong></td>
                    <td class="">{{ feature.details }}</td>
                    <td></td>
                    <td class="td-paid"></td>
                    <td class="td-status"></td>
                </tr>

                {% endif %} {% endfor %}

            </tbody>
        </table>
        <hr class="ftr-hr-style">
    </div>
</div>

{% endfor%} {% endblock %}
