{% extends "base.html" %} {% load bootstrap_tags %} {% block content %}

<!-- This form will be used by vendor-side users only to allow them to change
     the Feature status -->


<form method="POST" enctype="multipart/form-data" class="form-style">

    {% csrf_token %}

    <!-- NOTE: We are in 'New Feature' or in 'Edit Feature' mode. -->

    <!-- Fields with default values -->

    <!-- For new features the default client code, is the user's client code.
         If we're editing an existing feature, the user is a client-side user, and
         the feature client code and the user client code are the same, otherwise they
          couldnt edit -->

    <!-- Show Feature Id -->

    <div class="row no-gutters">
        <div class="col-12 ftr-id-style ">
            <span><em><strong>#: </strong>{{ feature.id}}</em></span>
        </div>
    </div>

    <input name="client_code" type="hidden" id="client_code" value="{{ userdetails.vend_client_code }}">

    <!-- Set the following field to the default value, or to the feature value, depending on whether 
         inputting a new feature, or editing an existing one -->

    {% if feature.user_id == null %}
    <input name="user_id" type="hidden" id="user_id" value="{{ userdetails.user_id }}"> {% else %}
    <input name="user_id" type="hidden" id="user_id" value="{{ feature.user_id }}"> {% endif %}

    <!-- If in 'New feature' mode, the default for this field is the input user. If in 'Edit' mode 
         the assigned user is = logged in user, otherwise they couldnt edit  -->

    <input name="assigned_client_user" type="hidden" id="assigned_client_user" value="{{ userdetails.user_id }}">

    <!-- Set the following field to the default value, or to the feature value, depending on whether 
         inputting a new feature, or editing an existing one -->

    {% if feature.assigned_vendor_user == null %}
    <input name="assigned_vendor_user" type="hidden" id="assigned_vendor_user" value="admin"> {% else %}
    <input name="assigned_vendor_user" type="hidden" id="assigned_vendor_user" value="{{ feature.assigned_vendor_user }}"> {% endif %}

    <!-- Top of form: Software Component, Status and Price -->

    <!-- Show Component. Don't allow it to be changed -->

    <div class="row no-gutters">
        <div class="col-12 col-md-5">
            <div class="row no-gutters">
                <div class="col-12 form-font">
                    <span><strong>Component: </strong>{{ feature.software_component}}</span>
                </div>
            </div>
        </div>

        <!-- Status -->
        <!-- NOTE: featurestatus.html is for vendor-side users only, to change the
                   feature status. They can select any of the status values. -->

        <div class="col-12 col-md-3 form-font pt-1 pb-1">
            <label class="form-font" for="status"><strong>Status: </strong></label>
            <select name="status" id="status" class="form-font ftr-select" size="1">
                {% if feature.status == "DRAFT" %}
                <option value="DRAFT" selected>DRAFT</option>
                {% else %}
                <option value="DRAFT">DRAFT</option>
                {% endif %}
                
                {% if feature.status == "LOGGED" %}
                <option value="LOGGED" selected>LOGGED</option>
                {% else %}
                <option value="LOGGED">LOGGED</option>
                {% endif %}
                        
                {% if feature.status == "OPEN" %}
                <option value="OPEN" selected>OPEN</option>
                {% else %}
                <option value="OPEN">OPEN</option>
                {% endif %}
                
                {% if feature.status == "ANALYSIS" %}
                <option value="ANALYSIS" selected>ANALYSIS</option>
                {% else %}
                <option value="ANALYSIS">ANALYSIS</option>
                {% endif %}
                
                {% if feature.status == "FIXING" %}
                <option value="FIXING" selected>FIXING</option>
                {% else %}
                <option value="FIXING">FIXING</option>
                {% endif %}
                
                {% if feature.status == "TESTING" %}
                <option value="TESTING" selected>TESTING</option>
                {% else %}
                <option value="TESTING">TESTING</option>
                {% endif %}
                
                {% if feature.status == "DEPLOYED" %}
                <option value="DEPLOYED" selected>DEPLOYED</option>
                {% else %}
                <option value="DEPLOYED">DEPLOYED</option>
                {% endif %}
                
                {% if feature.status == "CLOSED" %}
                <option value="CLOSED" selected>CLOSED</option>
                {% else %}
                <option value="CLOSED">CLOSED</option>
                {% endif %}
                
            </select>
        </div>


        <!--  The Unit Price for this feature
              Show the price but disable it - only vendor-side users can
              change it -->

        <div class="col-12 offset-md-1 col-md-3 form-font pt-1 position">

            <label class="form-font" for="price"><strong>Price: </strong></label>
            <input id="price" name="price" type="number" value="{{ feature.price }}" min="0" max="99999999"> 
        </div>
    </div>
    <hr>

    <!-- feature Title -->

    <div class="row no-gutters mt-3">
        <div class="col-12 offset-md-2 offset-xl-3 col-md-8 col-xl-6 form-font">
            <label for="title"><strong><em>Title:</em></strong></label>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-12 offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <textarea name="title" id="title" class="form-control form-font" rows="1" maxlength="50" disabled>{{ feature.title }}</textarea>
        </div>
    </div>


    <!-- Summary -->

    <div class="row no-gutters mt-2">
        <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <label for=" summary "><strong><em>Summary: </em></strong></label>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <textarea name="summary " id="summary " class="form-control form-font" rows="2 " maxlength="100" disabled>{{ feature.summary }}</textarea>
        </div>
    </div>


    <!-- Details  -->

    <div class="row no-gutters mt-2">
        <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <label for="details "><strong><em>Details: </em></strong></label>
        </div>
    </div>

    <div class="row no-gutters mb-4">
        <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
            <textarea name="details " id="details " class="form-control form-font" rows="10 " maxlength="700" disabled>{{ feature.details }}</textarea>
        </div>
    </div>

    <!-- Submit Button -->
    <hr>
    <div class="row no-gutters mt-2 ">
        <div class="col-12 offset-md-2 offset-xl-3 col-md-8 col-xl-6 text-center">
            <button class="btn ftr-btn-color ftr-enabled-link" type="submit ">Submit</button>
        </div>
    </div>

</form>

{% endblock %}
