{% extends "base.html" %} {% block content %}

<!-- If the user is a vendor-side user, show the name of the client the feature 
     belongs to -->

<div class="row no-gutters">
    <div class="col-5">
        <a id="ftr-back-to-prev-page" class="ftr-back-btn ftr-button-font ftr-nav-link ftr-enabled-link" href="{% url 'features_home_list' back_to_page list_filters %}"><i class="fas fa-angle-double-left"></i>Back to list</a>
    </div>

    <div class="col-7 form-font">
        {% if userdetails.user_type == "V" %}
        <p><strong>Client:</strong>
            <span><strong>{{featureclientdetails.client_name}}</strong></span>
        </p>
        {% endif %}
    </div>
</div>


<!-- Software Component  -->

<div class="form-style">

    <div class="row no-gutters">
        <div class="col-12 ftr-id-style ">
            <span><em><strong>#: </strong>{{ feature.id}}</em></span>
        </div>
    </div>

    <!-- Software Component -->

    <div class="row no-gutters pt-1">
        <div class="col-12 col-md-5">
            <div class="row no-gutters">
                <div class="col-12 form-font">
                    <span><strong>Component: </strong>{{ feature.software_component}}</span>
                </div>
            </div>
        </div>

        <!-- Status -->

        <div class="col-12 col-md-3 form-font pt-1">
            <span><strong>Status: </strong>{{ feature.status }}</span>
        </div>

        <!--  Price -->

        <div class="col-12 col-md-4 form-font pt-1 position">
            <span><strong>Price: </strong></span>
            <span><i class="fas fa-euro-sign"></i>{{ feature.price}}</span>
        </div>
    </div>

    <!-- Assigned User  -->

    <div class="row no-gutters pt-1">

        <!-- Assigned User  -->

        {% if userdetails.user_type == "V" %}

        <!-- If the user is a vendor-side user, show who the feature is
                     assigned to on the vendor side -->

        <div class="col-12 col-md-5 form-font ">
            <span><strong>Assigned to: </strong></span>
            <span class="pl-1">{{ feature.assigned_vendor_user}}</span>
        </div>

        {% else %}

        <!-- Client-side user: Show the user the feature is assigned to on the 
             client side, but only if the feature belongs to the client the user is 
             associated with -->

        <div class="col-12 col-md-5 form-font">
            <span><strong>Assigned to: </strong></span> {% if userdetails.vend_client_code == feature.client_code %}

            <!-- Only show the assigned user if the user client and feature 
            client are the same-->

            <span class="pl-1">{{ feature.assigned_client_user}}</span> {% else %}
            <span class="pl-1">******</span> {% endif %}
        </div>

        {% endif %}

        <!-- Show comments icon -->
        <!-- If comments are being input, disable comments icon and enable no-comments icon -->

        {% if comments_input == 'y' or view_comments == 'y' %}

        <div class="col-12 offset-md-6 col-md-1 icon-height comments-icon-align">
            <a id="enable-comments" class="disabled-link" href="#"><i class="fas fa-comments ftr-comments-icon"></i></a>
            <a id="disable-comments" class="ftr-enabled-link" href="#"><i class="fas fa-comment-slash ftr-no-comments-icon"></i></a>
        </div>

        {% else %}

        <!-- If comments are not being input, enable comments icon and disable no-comments icon -->

        <div class="col-12 offset-md-6 col-md-1 icon-height comments-icon-align">
            <a id="enable-comments" class="enabled-link" href="#"><i class="fas fa-comments ftr-comments-icon"></i></a>
            <a id="disable-comments" class="disabled-link" href="#"><i class="fas fa-comment-slash ftr-no-comments-icon"></i></a>
        </div>

        {% endif %}

    </div>
    <hr>

    <!-- START OF FEATURE COMMENTS SECTIONS ---------------------------------->

    {% if comments_input == 'y' or view_comments == 'y' %}

    <!-- COMMENTS ICONS:
        If comments are currently being input display the comments dashboard,
         Or if the comments list is required, display the comments dashboard,
         otherwise, hide it. -->

    <div id="ftr-comments-dash" class="row no-gutters mt-3 ftr-comments-dash">

        {% if comments_input == 'y' %}

        <!-- If the user is entering comments, the form will be open, so,
             Show plus icon disabled (comments form will already be open), show minus icon enabled (to close comments form) -->

        <div class="col-2 pl-2">
            <button id="ftr-comments-plus" class="btn ftr-comments-btn-color disabled-link" type="submit "><i class="fas fa-plus comments-plus-view"></i></button>
            <button id="ftr-comments-minus" class="btn ftr-comments-btn-color ftr-enabled-link " type="submit "><i class="fas fa-minus comments-plus-view"></i></button>
        </div>

        <!-- Show view comments icon enabled (to show comments list ), show close-view icon disabled (comments list not currently showing) -->

        <div class="offset-8 col-2 text-center ">
            <button id="ftr-comments-open" class="btn ftr-comments-btn-color ftr-enabled-link" type="submit "><i class="far fa-eye comments-plus-view"></i></i></button>
            <button id="ftr-comments-close" class="btn ftr-comments-btn-color disabled-link" type="submit "><i class="far fa-eye-slash comments-plus-view"></i></i></button>
        </div>

        {% else %}

        <!-- If the user is has just entered a comment, we are showing the comments list, and the comment form is closed, so
             Show plus icon disabled (comments form will already be open), show minus icon enabled (to close comments form) -->

        <div class="col-2 pl-2">
            <button id="ftr-comments-plus" class="btn ftr-comments-btn-color ftr-enabled-link" type="submit "><i class="fas fa-plus comments-plus-view"></i></button>
            <button id="ftr-comments-minus" class="btn ftr-comments-btn-color disabled-link " type="submit "><i class="fas fa-minus comments-plus-view"></i></button>
        </div>

        <!-- Show view comments icon enabled (to show comments list ), show close-view icon disabled (comments list not currently showing) -->

        <div class="offset-8 col-2 text-center ">
            <button id="ftr-comments-open" class="btn ftr-comments-btn-color disabled-link" type="submit "><i class="far fa-eye comments-plus-view"></i></i></button>
            <button id="ftr-comments-close" class="btn ftr-comments-btn-color ftr-enabled-link" type="submit "><i class="far fa-eye-slash comments-plus-view"></i></i></button>
        </div>
        {% endif %}

    </div>

    {% else %}

    <!-- Otherwise, hide the comments dashboard and comments form -->

    <div id="ftr-comments-dash" class="row no-gutters mt-3 ftr-comments-dash  d-none">

        <!-- js will show this element, so make plus icon disabled, minus enabled -->

        <div class="col-2 pl-2">
            <button id="ftr-comments-plus" class="btn ftr-comments-btn-color ftr-enabled-link" type="submit "><i class="fas fa-plus comments-plus-view"></i></button>
            <button id="ftr-comments-minus" class="btn ftr-comments-btn-color disabled-link" type="submit "><i class="fas fa-minus comments-plus-view"></i></button>
        </div>


        <!-- Show view icon -->

        <div class="offset-8 col-2 text-center ">
            <button id="ftr-comments-open" class="btn ftr-comments-btn-color ftr-enabled-link" type="submit "><i class="far fa-eye comments-plus-view"></i></i></button>
            <button id="ftr-comments-close" class="btn ftr-comments-btn-color disabled-link" type="submit "><i class="far fa-eye-slash comments-plus-view"></i></i></button>
        </div>
    </div>
    {% endif %}


    <!-- COMMENTS FORM:
        If comments are currently being input display the comment input form, 
         otherwise hide it.-->

    {% if comments_input == 'y'%}

    <form method="POST" id="ftr-comments-form" enctype="multipart/form-data" action="{% url 'new_feature_comment' feature.id back_to_page list_filters %}" class="ftr-comments-form-style">

        {% else %}

        <form method="POST" id="ftr-comments-form" enctype="multipart/form-data" action="{% url 'new_feature_comment' feature.id back_to_page list_filters %}" class="ftr-comments-form-style d-none">

            {% endif %}

            <!-- Set the default value fields -->

            <input name="feature_id" type="hidden" id="feature_id" value="{{ feature.id }}">
            <input name="vend_client_ind" type="hidden" id="vend_client_ind" value="{{ userdetails.user_type }}">
            <input name="vend_client_code" type="hidden" id="vend_client_code" value="{{ userdetails.vend_client_code }}">
            <input name="user_id" type="hidden" id="user_id" value="{{ userdetails.user_id }}"> {% csrf_token %}

            <!-- Comments field -->

            <div class="row no-gutters">
                <div class="col-12">
                    <textarea name="comments" id="comments" class="form-control form-font" rows="2" maxlength="300"></textarea>
                </div>
            </div>

            <!-- Add Comment Button -->
            <div class="row no-gutters pt-2">
                <div class="col-12 text-center">
                    <button class="btn ftr-comments-btn-color ftr-enabled-link" type="submit "><i class="fas fa-plus"></i> Add</button>
                </div>
            </div>
        </form>


        <!-- COMMENTS LIST: 
             If the comments list for this feature are currently being viewed, 
            display the list of comments, otherwise hide it -->

        {% if view_comments == 'y'%}

        <div id="ftr-comments-list" class="row no-gutters">

            {% else %}

            <div id="ftr-comments-list" class="row no-gutters d-none">

                {% endif %}

                <div class="table-responsive ">

                    <table class="table table-striped table-style">
                        <thead class="table-hd">
                            <tr>
                                <th scope="col" class="text-center td-date">Date</th>
                                <th scope="col" class="text-center td-username">Vendor / Client</th>
                                <th scope="col" class="text-center td-username">Author</th>
                                <th scope="col" class="text-center td-comments">Comments</th>
                            </tr>
                        </thead>

                        <!-- Show the date, author (user) and comments -->

                        <tbody>
                            {% for featurecomment in featurecomments %}
                            <tr>
                                <td class="d-table-cell td-date">{{ featurecomment.input_date|date:"d M y" }}</td>

                                {% if featurecomment.vend_client_ind == "V" %}
                                <td class="d-table-cell td-username text-center">Vendor</td>
                                {% else %}
                                <td class="d-table-cell td-username text-center">Client</td>
                                {% endif %}

                                <!-- Vendor-side users can see all user ids, client-side users can see the comment user ids of 
                                 users associated with the same client as them, and the user ids of vendor-users -->

                                {% if userdetails.user_type == "V" or userdetails.vend_client_code == featurecomment.vend_client_code or featurecomment.vend_client_ind == "V" %}

                                <td class="d-table-cell td-username">{{ featurecomment.user_id }}</td>

                                {% else %}

                                <td class="d-table-cell td-username">**********</td>

                                {% endif %}

                                <td class="td-summary">{{ featurecomment.comments }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <hr>
                </div>
            </div>


            <!-- END OF FEATURE COMMENTS SECTIONS --------------------------------   -->


            <!-- Feature Title -->

            <div class="row no-gutters mt-3">
                <div class="col-12 offset-md-2 offset-xl-3 col-md-8 col-xl-6 form-font">
                    <p class="m-0"><strong><em>TITLE:</em></strong></p>
                </div>
            </div>


            <div class="row no-gutters">
                <div class="col-12 offset-md-2 offset-xl-3 col-md-8 col-xl-6">
                    <p class="m-0">{{ feature.title }}</p>
                </div>
            </div>


            <!-- Show the Feature Image     -->

            <div class="row no-gutters mt-3">
                <div class="col-12 offset-md-2 offset-xl-3 col-md-8 col-xl-6 form-font">
                    {% if not feature.image %}
                    <div>
                        <p><strong>No Image Selected</strong></p>
                    </div>
                    {% else %}
                    <div style="background-image: url('{{ MEDIA_URL }}{{ feature.image }}');  width: 100%; height: 300px; alt=recipe.alt_txt; background-size: cover; background-position: center"></div>

                    {% endif %}
                </div>
            </div>



            <!-- Summary -->

            <div class="row no-gutters mt-3">
                <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
                    <p class="m-0"><strong><em>SUMMARY:</em></strong></p>
                </div>
            </div>

            <div class="row no-gutters">
                <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
                    <p class="m-0">{{ feature.summary }}</p>
                </div>
            </div>


            <!-- Details  -->

            <div class="row no-gutters mt-3">
                <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
                    <p class="m-0"><strong><em>DETAILS:</em></strong></p>
                </div>
            </div>

            <div class="row no-gutters ">
                <div class="col-12 form-font offset-md-2 offset-xl-3 col-md-8 col-xl-6">
                    <p class="m-0">{{ feature.details }}
                        <p>
                </div>
            </div>



            <!-- Edit Button 
          If the Feature is assigned to the logged in user, on the client side or
          on the vendor side, enable the Edit button, otherwise disable it. -->

            <hr>
            <div class="row no-gutters mt-2">
                <div class="col-12 offset-md-2 offset-xl-3 col-md-8 col-xl-6 text-center">

                    {% if userdetails.user_type == "C" %} {% if userdetails.vend_client_code == feature.client_code %}

                    <!-- User is a client-side user - they can only Edit the details of 
                         their own features and only while they're at status DRAFT or LOGGED. They cannot
                         see DRAFT or LOGGED features that belong to other clients.
                         If the feature is not status DRAFT or LOGGED, they can update the Assigned Client User only.
                                 
                         Is the Feature status = DRAFT or LOGGED? 
                         If so, enable the Edit button, otherwise enable the Update Button -->

                    {% if feature.status == "DRAFT" or feature.status == "LOGGED" %}

                    <a href="{% url 'edit_feature' feature.id back_to_page list_filters %}" class="btn ftr-edit-update-btn-color ftr-enabled-link">Edit</a> {% else %}

                    <!-- Allow the user to update the assigned client user only -->

                    <a href="{% url 'update_feature' feature.id back_to_page list_filters %}" class="btn ftr-edit-update-btn-color ftr-enabled-link">Update</a> {% endif %} {% endif %} {% else %}

                    <!-- User is a vendor-side user. 
                     Allow the user to update the feature status, price and assigned vendor user -->

                    <a href="{% url 'update_feature' feature.id back_to_page list_filters %}" class="btn ftr-edit-update-btn-color ftr-enabled-link">Update</a> {% endif %}

                </div>
            </div>
        </div>

        {% endblock %}
