{% extends 'base.html' %}

<!-- To enable us to import the bootstrap tags  -->

{% load bootstrap_tags %} {% block page_title %}Login Page{% endblock %} {% block page_heading %}User Login{% endblock %} {% block content %}

<div class="row no-gutters">
    <div class="offset-3 col-5">
        <form method="POST">

            <!-- Pass form to bootstrap to render it with bootstrap styling -->
            {% csrf_token %} {{ login_form | as_bootstrap }}

            <button type="submit" class="btn btn-warning">Login</button>

        </form>
    </div>
</div>

<div class="row no-gutters">
    <div class="offset-3 col-5">
        <p><a class="links" href="{% url 'password_reset' %}">Forgot Password</a></p>
    </div>
</div>




{% endblock %}
