{% extends 'base.html' %}

<!-- To enable us to import the bootstrap tags  -->

{% load bootstrap_tags %} {% block page_title %}Login Page{% endblock %} {% block page_heading %}User Login{% endblock %} {% block content %}

<div class="row no-gutters pt-5">
    <div class="offset-2 col-8 offset-md-3 col-md-5">
        <form method="POST" class="login-reg-form">

            <!-- Pass form to bootstrap to render it with bootstrap styling -->
            {% csrf_token %} {{ login_form | as_bootstrap }}

            <button type="submit" class="btn login-reg-btn-color">Login</button>

        </form>
    </div>
</div>

<div class="row no-gutters">
    <div class="offset-3 col-5">
        <p><a class="forgot-psw" href="{% url 'password_reset' %}">Forgot Password</a></p>
    </div>
</div>




{% endblock %}
