{% extends 'base.html' %}

<!-- To enable us to import the bootstrap tags  -->

{% load bootstrap_tags %} {% block page_title %}Registration Page{% endblock %} 

{% block page_heading %}User Registration{% endblock %} {% block content %}

<div class="row no-gutters">
    <div class="col-12 offset-md-3 col-md-5">
        <p class="reg-mesg-style">If you already have an account, please go to the <a class="link-text-style" href="{% url 'login' %}"><em>log in page</em></a></p>
    </div>
</div>


<div class="row no-gutters pb-5">
     <div class="col-12 offset-md-3 col-md-5">

        <form method="POST" class="login-reg-form"">

            {% csrf_token %}

            <!-- Pass form to bootstrap to render it with bootstrap styling -->
            {{ registration_form | as_bootstrap }}

            <button type="submit" class="btn login-reg-btn-color">Submit</button>

        </form>
    </div>
</div>
{% endblock %}
