{% load staticfiles %}

<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="shortcut icon" href="{% static 'images/kmcd_acc_sol_icon.ico' %}" />


    <!-- This will allow us to change the title of the page depending on
             the user options -->
    <title>{% block page_title %}{% endblock %}</title>

</head>

<body>

    <header>
        <nav class="navbar navbar-expand-md navbar-light navbar-style navbar-padding nav-links">
            <div class="nav-logo">
                <a class="navbar-brand logo" href="{% url 'home' %}"></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}"><i id="home" class="fa fa-home home-icon" aria-hidden="true"></i></a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'registration' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <section class="pg-bg">

        {% if messages %}
        <div class="row mt-3 no-gutters">
            <div class="offset-2 col-8 p-0">
                <ul class="mesg-style p-0  text-center">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor%}
                </ul>
            </div>
        </div>
        
        {% else %}
        
        <!-- This is to leave a blank line on the screen where the messages 
             appear. It ensures that the text that appears below the message
             line always appears at the same position whether a message is 
             displayed or not. -->
             
        <div class="row mt-3 no-gutters">
            <div class="offset-2 col-8 p-0">
                <ul class="p-0  blank-line text-center">
                    <li>Blank</li>
                </ul>
            </div>
        </div>
        
        {% endif %} 
        
         {% block content %}{% endblock %}



    </section>
    <footer>



    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js " integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin=" anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
