{% load staticfiles %}

<html>

<head>
    <!-- This will allow us to change the title of the page depending on
             the user options -->
    <title>{% block page_title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="{% static 'images/kmcd_acc_sol_icon.ico' %}" />



</head>

<body>

    <header>
        <nav class="navbar navbar-expand-xl navbar-light navbar-style nav-links">
            <div class="nav-logo p-0 m-0">
                <a class="navbar-brand logo" href="{% url 'home' %}"></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar-padding" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto ">

                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'registration' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <div>

        <h1>{% block page_heading %}{% endblock %}</h1>
    </div>

    {% if messages %}
    <div>
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor%}
        </ul>
    </div>
    {% endif %} {% block content %}{% endblock %}

</body>

</html>
