<div class="row no-gutters">

    <!-- These 4 buttons will be on one line across on small devices
         or one column that takes up one-fourth of the screen on larger 
         devices. Note that the breakpoint is the Ipad (width 768px). If 
         12 buttons is too much for the ipad, change col-md-4 to col-lg-4-->

    <div class="col-12 col-md-4">
        <div class="row no-gutters">

            <div class="col-3">
                BUTTON 1
            </div>

            <div class="col-3">
                BUTTON 2
            </div>

            <div class="col-3">
                BUTTON 3
            </div>

            <div class="col-3">
                BUTTON 4
            </div>
        </div>
    </div>

    <!-- These 4 buttons will be on one line across on small devices
         or one column that takes up one-fourth of the screen on larger 
         devices -->

    <div class="col-12 col-md-4">
        <div class="row no-gutters">

            <div class="col-3">
                BUTTON 5
            </div>

            <div class="col-3">
                BUTTON 6
            </div>

            <div class="col-3">
                BUTTON 7
            </div>

            <div class="col-3">
                BUTTON 8
            </div>
        </div>
    </div>

    <!-- These 4 buttons will be on one line across on small devices
         or one column that takes up one-fourth of the screen on larger 
         devices -->

    <div class="col-12 col-md-4">
        <div class="row no-gutters">

            <div class="col-3">
                BUTTON 9
            </div>

            <div class="col-3">
                BUTTON 10
            </div>

            <div class="col-3">
                BUTTON 11
            </div>

            <div class="col-3">
                BUTTON 12
            </div>
        </div>
    </div>
</div>
