<!-- NOTE: This code was copied from the ecommerce project and adjusted -->

{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap_tags %}

<!-- This javascript is required by Stripe -->
{% block head_js %}

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<!-- This is setting the Strip publishable key. We can then use it elsewhere
     on the page -->
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = "{{ publishable }}";
    //]]>
</script>

<!-- This script file is within our js dir under static -->

<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>

{% endblock head_js %} {% block content %}

<div class="container-fluid">
    <div class="row no-gutters">

        {% for item in cart_items %}

        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-12 ftr-id-style text-center">
                        <span><em><strong>Feature Id: </strong>{{ item.feature.id}}</em></span>
                    </div>
                </div>
                <hr>

                <div class="row no-gutters">
                    <div class="col-12">
                        <p class="text-center mb-0"><strong>{{ item.feature.title }}</strong></p>
                    </div>
                </div>
                <hr>

                <div class="row no-gutters">
                    <div class="col-12">
                        <p class="feature-description">{{ item.feature.summary }}</p>
                    </div>
                </div>
                <hr>

                <div class="row no-gutters pl-3">
                    <div class="offset-1 col-4">
                        <span><strong>Price: </strong>{{ item.feature.price }}</span>
                    </div>
                    <div class="col-4">
                        <span class=""><strong>Quantity: </strong>{{ item.quantity}}</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row no-gutters">
        <div class="col-12 checkout-amount pl-1 text-center checkout-bg">
            <span class="pr-2 "><strong>Checkout Total:</strong></span>
            <span><i class="fas fa-euro-sign pl-1 "></i><strong>{{ total }}</strong></span>
        </div>
    </div>


    <form role="form" method="POST" id="payment-form" action="{% url 'checkout'  %}">

        <div class="row no-gutters">
            <div class="col-12 pay-details-legend">

                <div class="col-12 text-center">
                    <legend class="m-0">PAYMENT DETAILS</legend>
                </div>
            </div>
        </div>


        <div id="credit-card-errors" style="display:none">
            <div class="alert-message block-message error mesg-style text-center" id="stripe-error-message"></div>
        </div>


        <div class="row no-gutters mt-3">
            <div class="col-12 col-md-6 pl-3 pr-3">
                <div class="form-group ">
                    {{ order_form|as_bootstrap }}
                </div>
            </div>

            <div class="col-12 col-md-6 pl-3 pr-3">
                <div class="form-group">
                    {{ payment_form|as_bootstrap }}
                </div>
            </div>
        </div>

        {% csrf_token %}

        <div class="row no-gutters">
            <div class="col-12 checkout-amount pl-1 text-center ">

                <input class="btn pay-btn" id="submit-payment-btn" name="commit" type="submit" value="Submit Payment">

            </div>
        </div>
    </form>
</div>

{% endblock %}
